<footer class="footer mt-auto d-flex flex-wrap justify-content-between align-items-center px-4 py-3 border-top" id="footer">
    <div class="footer__title d-flex align-items-center b-3 mb-md-0 text-dark">
        <div>
            <div class="d-flex gap-2 align-items-center">
                <i class="fa-solid fa-location-dot"></i>
                <a class="text-dark text-decoration-none" target="_blank" href="https://go.2gis.com/8iz6w"><%=L('contact3', language, 'г.Астана, ул. Жетіген, 28/2') %></a>
            </div>
            <p style="margin-bottom: 0 !important">© ТОО «UniversalElectro» 2024 </p>
        </div>
    </div>


    <img class="svk" src="/public/images/companies/kz.png" alt="">

    <ul class="nav justify-content-end list-unstyled d-flex gap-2">
        <li class="ms-3">
            <a class="text-body-secondary" href="https://api.whatsapp.com/send?phone=7775335873">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="https://www.instagram.com/">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="https://www.youtube.com/@UniversalElectro">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="https://facebook.com/">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </li>
        <!-- <li class="ms-3">
            <a class="text-body-secondary" href="https://vk.com/">
                <i class="fa-brands fa-vk"></i>
            </a>
        </li> -->
    </ul>
</footer>