  <header>
    <% if (!isAdmin) {%>
      <nav class="navbar sticky-top navbar-expand-xl bg-body-tertiary" style="z-index: 0;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img class="img-fluid" width="220"  src="/public/images/logo.png" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto  me-auto mb-2 mb-lg-0">
              <li class="nav-item mx-3">
                <a class="nav-link" href="/">О нас</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" href="/service">Услуги</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" href="/catalog">Каталог</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" href="/certificate">Сертификаты</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" href="/contact">Контакты</a>
              </li>
            </ul>

            <button type="button" class="header__btn btn background-orange" data-bs-toggle="modal" data-bs-target="#show-contact-modal">
              Связаться&nbsp;с&nbsp;нами
            </button>
            </div>
          </div>
        </div>
      </nav>
      <% } else { %>
        <nav class="navbar sticky-top navbar-expand-xl bg-body-tertiary" style="z-index: 0;">
          <div class="container-fluid">
            <a class="navbar-brand" href="/admin">
              <img class="img-fluid" width="220"  src="/public/images/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <% if(page == 'products'){ %>
                    <a class="nav-link active" aria-current="page" href="/admin/products">Товары</a>
                    <% } else { %>
                      <a class="nav-link" aria-current="page" href="/admin/products">Товары</a>
                    <% } %>
                  </li>
      
                  <li class="nav-item">
                    <% if(page == 'requests'){ %>
                    <a class="nav-link active" href="/admin/requests">Запросы</a>
                    <% } else { %>
                      <a class="nav-link" aria-current="page" href="/admin/requests">Запросы</a>
                    <% } %>
                  </li>
                </ul>
                <a class="btn btn-outline-dark" onclick="logout()">Выйти</a>
              </div>
            </div>
          </div>
        </nav>
        <% } %>
    </header>


    <!-- Modal -->
    <div class="modal fade" id="show-contact-modal">
      <div class="modal-dialog text-left">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Контакты</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h2 class="text-center">ТОО «UniversalElectro»</h3>
            <div class="d-flex align-items-center gap-4">
              <i class="fa-solid fa-location-dot"></i>
              <p>Республика Казахстан, 010000, г. Астана, ул. Жетiген, 28/2</p>
            </div>
            <div class="d-flex align-items-center gap-4">
              <i class="fa-solid fa-envelope"></i> 
              <a class="text-orange" href="mailto:universalvs@mail.ru">universalvs@mail.ru</a>
            </div>
            <div class="row align-items-center">
              <div class="col">
                <div class="d-flex align-items-center gap-4">
                  <i class="fa-solid fa-tty"></i>
                  <p>+7 (7172) 533 027</p>
                </div>
              </div>
              <div class="col d-flex align-items-center gap-4">
                <i class="fa-solid fa-mobile-screen"></i>
                <div>
                  <p>+7 (701) 588 20 60</p>
                  <p>+7 (701) 588 20 60</p>
                </div>
              </div>
            </div>
            <div class="btn__group mt-4 mb-3 d-flex flex-wrap align-items-center gap-2">
              <a class="btn btn-light background-orange" data-bs-toggle="modal" data-bs-target="#submit-request-modal">Оставить&nbsp;заявку</a>
              <a href="/catalog" class="btn btn-outline-dark">Перейти&nbsp;в&nbsp;каталог</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      function logout() {
        $.ajax({
          url: '/api/auth/logout',
          method: 'POST',
          success: function (r) {
            window.location.replace("/login");
          }
        })
      }
    </script>