<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    <%- include('../components/head.ejs.html') %>
</head>
<body>
    <%- include('../partials/header.html') %>

    <%- body %>

    <!-- Submit Request Modal -->
    <%- include('../components/submit-modal.html') %>
    
    <%- include('../partials/footer.html') %>

    <% if (!isAdmin) {%>
        <!-- uniq-chat.js -->
        <script type="text/javascript" src="https://s2.webapi.ai/chat-widget/uniq-chat.js"></script>
        <script src="/public/js/uniq-chat.js"></script>
    <% } %>
</body>
</html>