<!-- Submit request Modal -->
<div class="modal modal-lg fade" id="submit-request-modal">
    <div class="modal-dialog text-left">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Оставить заявку</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex">
                <div class="order_form px-5">
                    <div class="mb-3 mt-3">
                        <label for="name" class="form-label">* Ваше имя:</label>
                        <input type="text" class="form-control" id="name" placeholder="Введите имя" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">* Ваш номер:</label>
                        <input type="tel" class="form-control" id="phone" placeholder="Введите номер"
                            name="phone">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Ваша почта:</label>
                        <input type="email" class="form-control" id="email" placeholder="Введите почту"
                            name="email">
                    </div>
                </div>
                <div class="modal-message flex-fill mt-3">
                    <label for="message" class="form-label">* Ваша сообщение:</label>
                    <textarea type="text" class="form-control form__textarea" id="message" placeholder="Введите сообщение" name="message"></textarea>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" id="request-modal-btn" class="request-modal__btn btn background-orange"
                        onclick="submitRequest()">Отправить</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Submit Request
    function submitRequest() {
        loading(2, el = '#request-modal-btn');
        let name = $('#name').val().trim();
        let phone = $('#phone').val();
        let email = $('#email').val();
        let message = $('#message').val().trim()
        if (!name || !phone || message) {
            $.ambiance({
                message: "Заполните все поля",
                type: "error",
                fade: true,
                width: 400,
            });
            return loading(20, el = '#request-modal-btn');
        }

        $.ajax({
            url: '/',
            method: 'POST',
            data: {
                name: name,
                phone: phone,
                email: email,
                message: message
            },
            success: function (r) {
                $.ambiance({ type: 'success', message: 'Ваша заявка принята. Ждите звонка!' });
                loading(20, el = '#request-modal-btn');
                $('#submit-request-modal').modal('hide');
            }
        });

    }
</script>
