<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universal Electro</title>
    <%- include('./components/head.ejs.html') %>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="/public/images/logo.png" width="150" alt="" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Товары</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Запросы</a>
                        </li>
                    </ul>
                    <a class="btn btn-outline-primary" href="/login">Выйти</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1>Наш каталог</h1>
        </div>
        <div class="container d-flex flex-wrap gap-3" id="catalog">

        </div>
    </main>
    <footer></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        $(() => {
            showCatalog()
        });



        function showCatalog() {
            let i = 1;
            $("#catalog").html('');
            let productsHTML = "";
            $.ajax({
                url: "/api/catalog/products",
                method: "get",
                success: function (data) {
                    data.forEach((p) => {
                        productsHTML += `
                        <div class="product">
                            <img src="${p.product_img}" alt="">
                            <i>Артикул: ${p.articul}</i>
                            <h3>${p.title}</h3>
                            ${p.status=='1' ? '<p class="text-success">В наличии</p>' : '<p class="text-danger">Нет в наличии</p>'}
                            <h2>${p.price} ₸</h2>
                            <button class="btn btn-dark px-4 py-2" onclick="addToBucket(${p.product_id})">В корзину</button>
                        </div>`
                        i++
                    })
                    $("#catalog").append(productsHTML)
                },
            })
        }
    </script>

</body>

</html>