<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link rel="stylesheet" href="/public/css/contact.css">
    <%- include('./components/head.ejs.html') %>
</head>
<body>
    <%- include('./partials/header.html') %>

    <main>
        <div class="contact">
            <div class="container">
                <div class="contact__inner">
                    <div class="contact__header text-center">
                        <h1 class="contact__title">Контакты</h1>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('./partials/footer.html') %>
</body>
</html>