<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Universal Electro</title>
  <%- include('./components/head.ejs.html') %>
    <link rel="stylesheet" href="/public/css/landing.css">
</head>


<body>
  <header class="header">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><img src="/public/images/logo.png" alt="" width="200" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Про нас</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Команда</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Работы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Контакты</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Галлерея</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="intro">
    <div class="intro__inner">
      <h1 class="intro__title">
        <span>Universal</span>
        <span>Electro</span>
      </h1>
      <h3 class="intro__subtitle">НАДЕЖНО КАЧЕСТВЕННО ВЫГОДНО</h3>
    </div>
  </div>

  <section class="mission">
    <img src="/public/images/mission__hero-image.png" alt="" />
    <div class="mission__inner">
      <h1 class="mission__title">НАША МИССИЯ</h1>
      <p class="mission__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam nulla
        iste et aut obcaecati iure voluptatum possimus pariatur quos culpa
        mollitia cupiditate hic consectetur distinctio numquam similique magni
        deleniti harum earum, quisquam placeat laborum reiciendis repellendus!
        Ipsa cum assumenda explicabo libero.
      </p>
      <div class="mission__exp">
        <h3 class="mission__exp-element">Lorem ipsum dolor sit amet.</h3>
        <h3 class="mission__exp-element">Lorem ipsum dolor sit amet.</h3>
        <h3 class="mission__exp-element">Lorem ipsum dolor sit amet.</h3>
      </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>

<div class="text"></div>