<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Universal Electro</title>
  <%- include('./components/head.ejs.html') %>
  <link rel="stylesheet" href="/public/css/landing.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>


<body>
  <header>
    <nav class="navbar sticky-top navbar-expand-xl bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img class="img-fluid" width="220"  src="/public/images/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto  me-auto mb-2 mb-lg-0">
            <li class="nav-item mx-3">
              <a class="nav-link" href="#">О&nbsp;нас</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="#">Производство</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="#">Каталог</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="#">Сотрудничество</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="#">Сертификаты</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="#">Контакты</a>
            </li>
          </ul>
          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#show-contact-modal">
            Связаться&nbsp;с&nbsp;нами
          </button>
        </div>
      </div>
    </nav>
  </header>

  <main>
    
    <div class="intro">
      <div class="intro-hero"></div>

      <div class="intro-general">
        <div class="container text-center">
          <div class="intro__inner">
            <div class="intro__content">
              <h1 class="intro__title">Доверьте свою электробезопасность профессионалам. <br /> Доверьтесь нам!</h1>
              <div class="intro__text">
                <p>Мы - ваш надёжный партнёр в обеспечении электробезопасности. Наши щитки - это не просто продукты, это гарантия защиты вашего дома или бизнеса от электрических рисков</p>
              </div>
            </div>

            <div class="intro__img-container">
              <img class="intro__img-hero" id="intro-img" src="/public/images/intro__hero-img.png" alt="">
              <div class="intro__img-overlay intro__img-overlay-out"></div>
              <div class="intro__img-overlay intro__img-overlay-in"></div>
            </div>

          </div>

          <a class="intro__btn d-inline-block text-decoration-none" href="/catalog">Перейти в каталог</a>
        </div>
      </div>
    </div>
   
    <div id="service" class="service">
      <div class="service-mainTitle">
        <div class="container">
          <h1 class="text-center">Мы не просто так выделяемся как ведущий бренд в области электротехнических решений</h1>
        </div>
      </div>

      <section class="service-section">
        <div class="container">
          <div class="service__inner">
            <div class="service__content">
              <h2 class="service__title">Простота для новичков, надежность для опытных профессионалов</h2>
              <div class="service__text">
                <p>Наша компания специализируется на производстве электрических панелей и коробок, электромонтаже, металлообработке, порошковой окраске металла и производстве кабельных лотков. Наши процессы оптимизированы для всех уровней опыта, обеспечивая эффективное выполнение задач.</p>
              </div>
            </div>
            <img data-aos="fade-down" data-aos-once="true" class="service__img" src="/public/images/service__img1.png" alt="">
          </div>
        </div>
      </section>
      
      <section class="service-section">
        <div class="container">
          <div class="service__inner">
            <img data-aos="fade-down" data-aos-once="true" class="service__img" src="/public/images/service__img2.png" alt="">

            <div class="service__content">
              <h2 class="service__title">Расширяющие возможности электрических решений</h2>
              <div class="service__text">
                <p>Располагая самым современным оборудованием и командой квалифицированных специалистов, мы обслуживаем как начинающих энтузиастов, так и опытных экспертов в этой области. Приступаете ли вы к своему первому проекту или стремитесь оптимизировать сложные системы, наши индивидуальные решения превзойдут ваши ожидания.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- <div class="service-btn">
        <div class="container">
          <a href="#">Напишите нам</a>
        </div>
      </div>
    </div> -->

    <div class="cert">
      <div class="container">
        <div class="cert__inner">

        </div>
      </div>
    </div>

    <hr class="hr-temp hr-service" />

    <div class="coop">
      <div class="container">
        <div class="coop__inner">

        </div>
      </div>
    </div>
    
  </main>


 <!-- Modal -->
  <div class="modal fade" id="show-contact-modal">
    <div class="modal-dialog text-left">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Контакты</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2 class="text-center">ТОО «UniversalElectro»</h3>

          <div class="row mb-4">
            <div class="col-3 d-flex align-items-center gap-1">
              <span class="material-symbols-outlined">home</span>
              <span class="fw-bold" style="margin-right: 20px">Адрес:</span> 
            </div>
            <div class="col">
              <a class="text-decoration-none text-dark" href="https://www.google.com/maps/place/%D0%A1%D0%BA%D0%BB%D0%B0%D0%B4+%D0%A1%D0%B8%D1%82%D0%B8+GRUP/@51.177655,71.48081,133m/data=!3m1!1e3!4m6!3m5!1s0x424581c3dacb7113:0xab4bd753c74c4bca!8m2!3d51.1777008!4d71.4807249!16s%2Fg%2F11l2kmywb5?hl=en-US&entry=ttu">Республика Казахстан, 010000, г. Астана, ул. Жетiген, 28/2</a>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-3 d-flex align-items-center gap-1">
              <span class="material-symbols-outlined">mail</span>
              <span class="fw-bold" style="margin-right: 20px">Почта:</span> 
            </div>
            <div class="col">
              <a style="color: #E87900;" href="mailto:universalvs@mail.ru">universalvs@mail.ru</a>
            </div>
          </div>
          <div class="row">
            <div class="col-3 d-flex align-items-center gap-1">
              <span class="material-symbols-outlined">call</span>
              <span class="fw-bold" style="margin-right: 20px">Номера: </span>
            </div>
            <div class="col">
              <div class="row mb-2">
                <div class="col">
                  <a class="text-decoration-none" href="tel:+77172533027">+7 (7172) 533 027</a>
                </div>
                <div class="col">
                  <a class="text-decoration-none" href="tel:+77172533079">+7 (7172) 533 079</a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <a class="text-decoration-none" href="tel:+77775335873">+7 777 533 5873</a>
                </div>
                <div class="col">
                  <a class="text-decoration-none" href="tel:+77771153735">+7 777 115 3735</a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    // AOS
    AOS.init();

  </script>
</body>

</html>
