<head>
  <title>Universal Electro</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/landing.css">
</head>
<body>
  <main>

    <!-- Intro -->
    <div class="intro w-100 py-5">
      <div class="container text-center">
        <div class="intro__inner d-flex justify-content-between align-items-center">
          <div class="intro__content mx-auto">
              <h1 class="intro__title text-uppercase">Universal Electro</h1>
              <h2 class="intro__subtitle text-light fw-bold"><%=L('index1', 'ru', 'Качественно. Надежно. Выгодно') %>.</h2>
              <p class="intro__text">Компания предлагает высококачественное щитовое оборудование, фасадные элементы и комплектующие для трансформаторных подстанций. Наша продукция сертифицирована и соответствует стандартам. Обращайтесь к нам для надежных решений и профессионального обслуживания.</p>
            </div>

            <div class="intro__img-container mx-auto position-relative">
              <img class="intro__img-hero" id="intro-img" src="/public/images/landing-page/intro__hero-img.png" alt="">
              <div class="intro__img-overlay intro__img-overlay-out"></div>
              <div class="intro__img-overlay intro__img-overlay-in"></div>
            </div>
          </div>
        <a href="/catalog" class="intro__btn text-125 btn btn-light mt-5">Перейти в каталог</a>
      </div>
    </div>

    <hr class="mt-5 mb-5">

    <!-- About -->
    <div class="about">
      <div class="container">
        <div class="about__inner">
          <div class="about__body mx-auto">
            <div class="about__content">
              <h1 class="text-center fs-2">TOO <span class="text-orange fw-black text-uppercase">«Universal Electro»</span> работает на рынке Республики Казахстана с 20 февраля 2010 года.</h1>
              <img class="about__img image-fluid w-100" src="/public/images/landing-page/about.png" alt="">
              <div class="about__text text-start">
                <p>TOO <span class="text-orange fw-bold text-uppercase">«Universal Electro»</span> является отечественным производителем товаров, мы внесены в реестр отечественных производителей товаров, работ и услуг и получили <a class="text-orange fst-italic" href="/public/pdf/certificates-confirmaty/Индустриальный сертифика 11 11 22т.pdf" target="_blank">Индустриальный сертификат.</a></p>
                <p>В штате нашей компании работают квалифицированные специалисты с опытом работы более <span class="fw-bold fs-5">10 лет.</span></p>
              </div>
            </div>
            <div class="about__dir">
              <h2 class="text-start">Основные направления нашей деятельности:</h2>
              <h4 class="text-orange">То что мы предлагаем</h4>
              <div class="about__dir__inner d-flex flex-wrap justify-content-betwenn gap-5">
                <div class="about__dir__element p-3 border border-2 border-orange rounded-3">
                  <span class="material-symbols-outlined">battery_charging_20</span>
                  <p>Комплектные низковольтные устройства на напряжение до <b>1000 В</b></p>
                </div>
                <div class="about__dir__element border border-2 border-orange rounded-3">
                  <span class="material-symbols-outlined">charging_station</span>
                  <p>Трансформаторные подстанций, мощностью от <b>25 до 3150 кВа</b>, напряжением <b>6-10-20 кВ</b></p>
                </div>
                <div class="about__dir__element border border-2 border-orange rounded-3">
                  <span class="material-symbols-outlined">
                    handyman
                    </span>
                  <p>Нестандартные конструкций и изделий из металла до <b>3 мм</b></p>
                </div>
                <div class="about__dir__element border border-2 border-orange rounded-3">
                  <span class="material-symbols-outlined">
                    apartment
                    </span>
                  <p>Фасадные элементы: <i>корзины для кондиционеров, декоративные жалюзи, французские балконы</i></p>
                </div>
                <div class="about__dir__element border border-2 border-orange rounded-3">
                  <span class="material-symbols-outlined">
                    cable
                    </span>
                  <p>Лотки для удержания и защити кабелей
                  </p>
                </div>
                <div class="about__dir__element border border-2 border-orange rounded-3">
                  <span class="material-symbols-outlined">
                    source_environment
                    </span>
                  <p>Продажа комплектующих для ТП</p>
                </div>
                <div class="about__dir__element border border-2 border-orange rounded-3">
                  <img src="/public/images/companies/ekf.png" alt="">
                  <p class="text-110">Продажа продукции EKF (<a class="text-orange" href="https://ekfgroup.com/ru">efkgroup.com</a>)</p>
                </div>
                <div class="about__dir__element border border-2 border-orange rounded-3">
                  <span class="material-symbols-outlined">
                    dresser
                    </span>
                  <p>Прочие металлические изделия и шкафы</p>
                </div>
              </div>
            </div>

            <div class="about__footer mt-5 mb-3">
              <p class="footer__text">
                Сотрудники нашей компании всегда рады предложить Вам самые оптимальные решения, а также ответить на все Ваши вопросы!
              </p>
              <div class="about__btn__group mt-4 d-flex justify-content-center gap-2 flex-wrap">
                <a class="btn btn-light background-orange text-120" data-bs-toggle="modal" data-bs-target="#submit-request-modal">Оставить&nbsp;заявку</a>
                <a class="btn btn-light text-120" href="/catalog">Перейти&nbsp;в&nbsp;каталог</a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="mt-5 mb-5">
    
    <!-- Video -->
    <div class="video text-center">
      <div class="container">
        <h1 class="video__title fs-2">Посмотрите краткий экскурс по нашему производству!</h1>
      </div>
      <div class="video__inner">
        <div class="container">
          <iframe src="https://www.youtube.com/embed/Km__8iOFD_E?si=KGqf32jBVLWxI7aa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <hr class="mt-5 mb-5">

    <!-- Map -->
    <div class="map">
      <div class="container">
        <div class="map__inner text-center">
          <h2>Наша продукция поставляюет <span class="text-success">в разные регионы</span> Республики Казахстана:</h2>
          <img style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#show-map-modal" src="/public/images/landing-page/map.png" alt="">
        </div> 
      </div>
    </div>

    <hr class="mt-5 mb-5">

    <!-- Why us -->
    <div class="whyus">
      <div class="container">
        <div class="whyus__inner">
          <h1 class="whyus__title text-center fs-2">Почему <span class="text-orange">Universal Electro</span> ?</h1>
          <div class="whyus__body mt-5">

            <div class="whyus__element">
              <span class="material-symbols-outlined">workspace_premium</span>
              <h2 style="color: #009f84">Качественно</h2>
              <ul>
                <li>Каждый наш продукт сертифицирован</li>
                <li>Каждая продукция проходит через проверку по <a class="text-orange" href="/certificate">ГОСТ СК</a></li>
                <li>Мы используем только качественный материал</li>
              </ul>
            </div>
            <div class="whyus__element">
              <span class="material-symbols-outlined">
                payments

                </span>
              <h2 style="color: #fa9a00">Выгодно</h2>
              <ul>
                <li>Все наши продукции соответствуют всем нормам</li>
                <li>Идеальный вариант, когда цена соответствует качеству</li>
                <li>Мы являемся официальными поставщиками, и покупать у нас напрямую намного дешевле и выгоднее</li>
              </ul>
            </div>
            <div class="whyus__element">
              <span class="material-symbols-outlined">
                event_available
                </span>
                </span>
              <h2 style="color: #ee5038">Надежно</h2>
              <ul>
                <li>Мы предоставим вам услуги и продукции за обговоренный короткий срок</li>
                <li>Мы имеем собственный цех и можем предоставить огромное количество в кратчайшие сроки</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="mt-5 mb-5">

    <!-- Partners -->
    <div class="partner" id="faq">
      <div class="container">
        <div class="partner__inner">
          <div class="partner__body">

            <div class="partner__content text-center">
              <h1 class="fs-2">Наши партнеры</h1>
              <p class="w-75 mx-auto mb-5">Мы работаем только с лучшими производителями, которые делают постоянные инвестиции в развитие новых технологий. Наша компания является дистрибьютором и партнером:</p>
            </div>
            <section id="companies-slider" class="splide" aria-label="Splide Basic HTML Example">
              <div class="splide__track text-center">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <img src="/public/images/companies/biGroup.png" alt="">
                  </li>
                  <li class="splide__slide text-center">
                    <img src="/public/images/companies/elordaDamu.png" alt="">
                  </li>
                  <li class="splide__slide text-center">
                    <img src="/public/images/companies/ordaInvest.png" alt="">
                  </li>
                  <li class="splide__slide text-center">
                    <img src="/public/images/companies/tumar.png" alt="">
                  </li>
                  <li class="splide__slide text-center">
                    <img src="/public/images/companies/kazMunaiGaz.svg" alt="">
                  </li>
                  <li class="splide__slide text-center">
                    <img src="/public/images/companies/mangistauMunaiGaz.png" alt="">
                  </li>
                  <li class="splide__slide text-center">
                    <img src="/public/images/companies/abb.png" alt="">
                  </li>
                  <li class="splide__slide text-center">
                    <img src="/public/images/companies/electron.png" alt="">
                  </li>
                  <li class="splide__slide text-center">
                    <img src="/public/images/companies/iek.png" alt="">
                  </li>
                  <li class="splide__slide text-center">
                    <img src="/public/images/companies/incotex.png" alt="">
                  </li>
                  <li class="splide__slide text-center">
                    <img src="/public/images/companies/legrand.png" alt="">
                  </li>
                  <li class="splide__slide text-center">
                    <img src="/public/images/companies/oez.svg" alt="">
                  </li>
                  <li class="splide__slide text-center">
                    <img src="/public/images/companies/ordaInvest.png" alt="">
                  </li>
                  <li class="splide__slide text-center">
                    <img src="/public/images/companies/saiman.webp" alt="">
                  </li>
                  <li class="splide__slide text-center">
                    <img src="/public/images/companies/schneider.png" alt="">
                  </li>
                  <li class="splide__slide text-center">
                    <img src="/public/images/companies/siemens.png" alt="">
                  </li>
                  <li class="splide__slide text-center">
                    <img src="/public/images/companies/tdmElectric.jpeg" alt="">
                  </li>
                </ul>
              </div>
            </section>
          </div>
          <div class="partner__footer text-center mt-5">
            <button class="btn text-125 background-orange" data-bs-toggle="modal" data-bs-target="#submit-request-modal">Напишите нам!</button>
          </div>
        </div>
      </div>
    </div>

    <hr class="mt-5 mb-5">

    
    <!-- FAQ -->
    <div class="faq mt-5">
      <div class="container">
        <div class="faq__inner">
          <div class="faq__body">

            <div class="faq__content text-center">
              <h1 class="fs-2">Часто-задаваемые вопросы</h1>
            </div>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed fs-6" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Вы изготавливаете щитовое оборудование?
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    Да, изготавливаем. Обратитесь к нам по контактам в разделе <b>«Контакты»</b> или вышлете запрос на e-mail:  <a href="mailto:universalelectro.kz@gmail.com">universalelectro.kz@gmail.com</a>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed fs-6" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Как к вам проехать?
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Мы находимся по адресу <b>РК  г. Астана, улица Жетіген 28/2. </b>Пройдите по ссылке 2gis: 
                    <a href="https://2gis.kz/astana/geo/9570784863344814 ">https://2gis.kz/astana/geo/9570784863344814 </a>
                    </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed fs-6" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Вы изготавливаете фасадные эллементы, кондиционерные карзины?
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Да, изготавливаем. Застройщики, которые ценят качество и надежность заказывают у нас. <a href="/catalog">Каталог</a> <br>Обратитесь к нам по контактам в разделе <b>«Контакты»</b> или вышлете запрос на e-mail:  <a href="mailto:universalelectro.kz@gmail.com">universalelectro.kz@gmail.com</a>
                    </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed fs-6" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    У вас сертифицированная продукция?
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Да, конечно. Вся выпускаемая нами продукция сертифицирована. При необходимости предоставляем сертификат <b>СТ KZ</b>. <a href="/certificate">Сертификаты</a>
                    <br> 
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed fs-6" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    Комплектующие каких брендов вы используете?
                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Разных. Мы уже более 8 лет являемся дистрибьютерами продукции <b>EKF</b> в РК. В основном используем материалы данного бренда,  проверенного временем. По пожеланию заказчика или согласно заявки  можем использовать другие.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed fs-6" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    За какой срок изготовите мой заказ?
                  </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body"><b>За максимально низкий срок.</b> Вышлете проект для получения коммерческого предложения с указанием более точных сроков.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed fs-6" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                    Какую краску вы используете при покраске щитов?
                  </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body"><b>Полимерная (порошковая) покраска.</b> Производитель:  Казахстан, Турция, Россия и Беларусь.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed fs-6" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                    Могу ли я выбрать цвет щитов?
                  </button>
                </h2>
                <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Конечно, <b>RAL цвета</b> согласовывается с заказчиком. Так же предоставляются образцы для согласования.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed fs-6" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                    Могу ли я приобрести у вас автоматические выключатели?
                  </button>
                </h2>
                <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Мы являемся дистрибьюторами завода <b>ЕКФ</b>. Имеются позиции как на складе, так и под заказ.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed fs-6" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                    Возможна ли доставка до объекта?
                  </button>
                </h2>
                <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Да. Условия поставки обсуждаются с заказчиком <b>перед заключением договор.</b></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  <!-- Show Certificate Modal -->
  <div class="modal modal-xl fade " id="show-map-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <img class="w-100" src="/public/images/landing-page/map.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
  
  <script>
    // AOS
    AOS.init();
  
    // Splide js
    const productSlider = new Splide("#companies-slider", {
      type: 'loop', 
      speed: 3000,
      interval: 2000,
      perPage: 5,
      perMove: 1,
      pagination: false,
      arrows: false,
      autoplay: true,
      rewind: false,
      pauseOnHover: false,
      breakpoints: {
        767.98: {
          perPage: 1
        },
        991.98: {
          perPage: 2
        },
        1199.98: {
          perPage: 3
        }
      }
    });
    productSlider.mount();

  </script>
  
</body>

</html>
