<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css" />
    <link href="/public/fonts/fonts.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <style>
      .search-input {
        outline: none !important;
      }
      .table-icon {
        border: 0;
      }
      .table-icon span {
        font-size: 34px;
      }

      td img {
        width: 100px;
        transition: transform ease 0.3s;
      }

      td img:hover {
        transform: scale(1.5);
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Товары</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Запросы</a>
            </li>
          </ul>
          <button class="btn btn-outline-primary">Выйти</button>
        </div>
      </div>
    </nav>
    <div class="container">
      <form class="d-flex justify-content-between mt-5" role="search">
        <input
          class="form-control me-2 w-75 search-input border-secondary"
          type="search"
          placeholder="Вводите"
          aria-label="Search"
        />

        <div class="d-flex gap-2">
          <button class="btn btn-success" type="submit">Искать</button>
          <button class="btn btn-primary" type="submit">Добавить</button>
        </div>
      </form>

      <table
        class="table table-bordered border-secondary mt-5 text-center align-middle"
      >
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Картинка</th>
            <th scope="col">Название</th>
            <th scope="col">Категория</th>
            <th scope="col">Цена</th>
            <th scope="col">Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="" scope="row">1</th>
            <td>
              <img src="/public/images/щит.png" alt="" />
            </td>
            <td>Автоматический ввод резерва АВР</td>
            <td>Бухой алкаш</td>
            <td>Бутылка водки</td>
            <td style="width: 12%">
              <button
                type="button"
                class="btn"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                <span class="material-symbols-outlined"> edit_document </span>
              </button>

              <button
                type="button"
                class="btn table-icon"
                data-toggle="modal"
                data-target="#deleteModal"
              >
                <span class="material-symbols-outlined"> delete </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Edit Modal -->
      <div
        class="modal fade text-start"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="editModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog text-left">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Изменить</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="formFile" class="form-label"
                    >Загрузите изображение</label
                  >
                  <input class="form-control" type="file" id="formFile" />
                </div>

                <div class="mb-3">
                  <label for="name" class="form-label">Название</label>
                  <input
                    type="text"
                    class="form-control border-secondary"
                    id="name"
                    placeholder=""
                  />
                </div>
                <div class="mb-3">
                  <label for="description">Описание</label>
                  <textarea
                    class="form-control border-secondary"
                    id="description"
                    placeholder=""
                  ></textarea>
                </div>
                <div class="mb-3">
                  <label for="category" class="form-label">Категория</label>
                  <input
                    type="text"
                    class="form-control border-secondary"
                    id="category"
                    placeholder=""
                  />
                </div>
                <div class="mb-3">
                  <label for="price" class="form-label">Цена</label>
                  <input
                    type="number"
                    class="form-control border-secondary"
                    id="price"
                    placeholder=""
                  />
                </div>

                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Закрыть
                  </button>
                  <button type="button" class="btn btn-primary">
                    Сохранить
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script></script>
  </body>
</html>
