<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <title>Universal Electro | Товары</title>
  <link rel="stylesheet" href="/public/css/bootstrap.css" />

  <%- include('./components/head.ejs.html') %>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/public/images/logo.png" width="150" alt="" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Товары</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/admin/requests">Запросы</a>
            </li>
          </ul>
          <a class="btn btn-outline-dark" onclick="logout()">Выйти</a>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="container">
      <form class="d-flex justify-content-between mt-5" role="search">
        <div class="search position-relative w-75">
          <input class="form-control me-2 w-100 search-input border-secondary ps-5" onkeyup="searchProduct(this.value)"
            type="search" placeholder="Введите" aria-label="Search" />
          <span class="material-symbols-outlined position-absolute top-50 translate-middle ps-5">
            search
          </span>
        </div>

        <div class="d-flex gap-2">
          <button class="btn btn-primary" type="button" onclick="showAddProductModal()">
            + Добавить
          </button>
        </div>
      </form>
      <div id="table_block" style="width: 100%; overflow-x: auto;">
        <table class="table table-hover table-bordered border-secondary mt-5 text-center align-middle">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Картинка</th>
              <th scope="col">Название</th>
              <th scope="col">Описание</th>
              <th scope="col">Категория</th>
              <th scope="col">КазНИИСА</th>
              <th scope="col">Артикул</th>
              <th scope="col">Количество</th>
              <th scope="col">Цена</th>
              <th scope="col">Действия</th>
            </tr>
          </thead>
          <tbody id="products"></tbody>
        </table>
      </div>

    </div>
  </main>

  <!-- Modals -->
  <div class="modal fade" id="add_product-modal">
    <div class="modal-dialog text-left">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Добавить товар</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <img src="" alt="" id="add_product_src" class="mb-1" width="150">
              <label for="formFile" class="form-label">Загрузите изображение</label>
              <input class="form-control" type="file" id="product_img" />
            </div>

            <div class="mb-3">
              <label for="name" class="form-label">Название</label>
              <input type="text" class="form-control" id="title" placeholder="Введите название" />
            </div>
            <div class="mb-3">
              <label for="description">Описание</label>
              <textarea class="form-control" id="description" placeholder="Введите описание"></textarea>
            </div>
            <div class="mb-3">
              <label for="category" class="form-label">Категория</label>
              <select class="form-control" id="category">
                <option disabled selected value="none">Не выбрано</option>
                <option value="Вводно-распределительное устройство ГОСТ 30011.1-2003">Вводно-распределительное
                  устройство ГОСТ 30011.1-2003</option>
                <option value="Блок автоматического управления освещением">Блок автоматического управления освещением
                </option>
                <option value="АВР (автоматическое включение резерва)">АВР (автоматическое включение резерва)</option>
                <option value="Ящик управления освещением">Ящик управления освещением</option>
                <option
                  value="Устройства комплектные низковольтные управления, ввода и распределения энергии ГОСТ 30011.1-2003">
                  Устройства комплектные низковольтные управления, ввода и распределения энергии ГОСТ 30011.1-2003
                </option>
                <option value="Устройство компенсации реактивной мощности, конденсаторная установка">Устройство
                  компенсации реактивной мощности, конденсаторная установка</option>
                <option value="Щит распределительный, этажный ГОСТ 32397-2013, типа ЩЭ">Щит распределительный, этажный
                  ГОСТ 32397-2013, типа ЩЭ</option>
                <option value="Ящик силовой распределительный, типа ЯРВ">Ящик силовой распределительный, типа ЯРВ
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Цена</label>
              <input type="number" class="form-control" id="price" placeholder="Введите цену" />
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Статус</label>
              <select class="form-control" id="status">
                <option value="1">В наличии</option>
                <option value="0">Не в наличии</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Количество</label>
              <input type="number" class="form-control" id="quantity" placeholder="123" />
            </div>
            <div class="mb-3">
              <label for="kazniisa" class="form-label">КазНИИСА</label>
              <input type="number" class="form-control" id="kazniisa" placeholder="123" />
            </div>
            <div class="mb-3">
              <label for="articul" class="form-label">Артикул</label>
              <input type="text" class="form-control" id="articul" placeholder="АО102" />
            </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Отмена
              </button>
              <button type="button" class="btn btn-primary" id="add_product_btn" onclick="addProduct()">
                Добавить
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="edit_product-modal">
    <div class="modal-dialog text-left">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Изменить</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3 d-flex align-items-center ">
              <img src="" alt="" id="new_product_src" class="mb-1" width="150">

              <input class="form-control" type="file" id="new_product_img" placeholder="" />
            </div>
            <div class="mb-3">
              <label for="new_title" class="form-label">Название</label>
              <input type="text" class="form-control" id="new_title" placeholder="" />
            </div>
            <div class="mb-3">
              <label for="new_description">Описание</label>
              <textarea class="form-control" id="new_description" placeholder=""></textarea>
            </div>
            <div class="mb-3">
              <label for="new_category" class="form-label">Категория</label>
              <select class="form-control" id="new_category">
                <option value="Вводно-распределительное устройство ГОСТ 30011.1-2003">Вводно-распределительное
                  устройство ГОСТ 30011.1-2003</option>
                <option value="Блок автоматического управления освещением">Блок автоматического управления освещением
                </option>
                <option value="АВР (автоматическое включение резерва)">АВР (автоматическое включение резерва)</option>
                <option value="Ящик управления освещением">Ящик управления освещением</option>
                <option
                  value="Устройства комплектные низковольтные управления, ввода и распределения энергии ГОСТ 30011.1-2003">
                  Устройства комплектные низковольтные управления, ввода и распределения энергии ГОСТ 30011.1-2003
                </option>
                <option value="Устройство компенсации реактивной мощности, конденсаторная установка">Устройство
                  компенсации реактивной мощности, конденсаторная установка</option>
                <option value="Щит распределительный, этажный ГОСТ 32397-2013, типа ЩЭ">Щит распределительный, этажный
                  ГОСТ 32397-2013, типа ЩЭ</option>
                <option value="Ящик силовой распределительный, типа ЯРВ">Ящик силовой распределительный, типа ЯРВ
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="new_price" class="form-label">Цена</label>
              <input type="number" class="form-control" id="new_price" placeholder="" />
            </div>
            <div class="mb-3">
              <label for="new_status" class="form-label">Статус</label>
              <select class="form-control" id="new_status">
                <option value="1">В наличии</option>
                <option value="0">Не в наличии</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="new_quantity" class="form-label">Количество</label>
              <input type="number" class="form-control" id="new_quantity" placeholder="" />
            </div>
            <div class="mb-3">
              <label for="new_kazniisa" class="form-label">КазНИИСА</label>
              <input type="number" class="form-control" id="new_kazniisa" placeholder="" />
            </div>
            <div class="mb-3">
              <label for="new_articul" class="form-label">Артикул</label>
              <input type="text" class="form-control" id="new_articul" placeholder="" />
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Отмена
              </button>
              <button type="button" class="btn btn-primary" id="edit_product_btn" onclick="editProduct()">
                Изменить
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="delete_product-modal">
    <div class="modal-dialog text-left">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Удалить товар</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">Вы уверены что хотите удалить данный товар?</div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Отмена
            </button>
            <button type="button" class="btn btn-danger" id="delete_product_btn" onclick="deleteProduct()">
              Удалить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    var globalProductId;
    var globalProducts;

    $(() => {
      $('#product_img').on('change', function () {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#add_product_src').attr('src', e.target.result);
        }

        reader.readAsDataURL(this.files[0]);
      });

      $('#new_product_img').on('change', function () {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#new_product_src').attr('src', e.target.result);
        }

        reader.readAsDataURL(this.files[0]);
      });
      loading(1);
      showProducts();
      loading(0);
    })

    function showProducts() {
      let i = 1;
      $("#products").html('');
      let productsHTML = "";
      $.ajax({
        url: "/api/catalog/products",
        method: "get",
        success: function (data) {
          globalProducts = data;
          data.forEach((p) => {
            productsHTML += `
              <tr id="product-${i}"">
                <th scope="row">${i}</th>
                <td>
                  <img src="${p.product_img}" alt="" />
                </td>
                <td>${p.title}</td>
                <td><div style="max-height: 100px; overflow-y: auto; text-overflow: ellipsis">${p.description}</div></td>
                <td>${p.category}</td>
                <td style="width: 10%">${p.kazniisa}</td>
                <td style="width: 10%">${p.articul}</td>
                <td style="width: 10%">${p.quantity}</td>
                <td>${p.price}</td>
                <td style="width: 12%">
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="showEditProductModal('#product-${i}','${p.product_id}')">
                    <span class="material-symbols-outlined"> edit_document </span>
                  </button>

                  <button type="button" class="btn table-icon" data-toggle="modal" data-target="#deleteModal" onclick="showDeleteProductModal('${p.product_id}')">
                    <span class="material-symbols-outlined text-danger"> delete </span>
                  </button>
                </td>
              </tr>`
            i++
          })
          $("#products").append(productsHTML);
        }
      })
    }

    function showAddProductModal(id) {
      $("#add_product-modal").modal("show")
    }

    function addProduct() {
      loading(2, (el = "#add_product_btn"))
      let img = $("#product_img")[0].files[0];
      let title = $("#title").val().trim();
      let description = $("#description").val().trim();
      let price = $("#price").val()
      let category = $("#category").val();
      let status = $("#status").val().trim();
      let quantity = $("#quantity").val();
      let kazniisa = $("#kazniisa").val();
      let articul = $("#articul").val().trim();
      let product_img_src = null
      if (
        !img ||
        !title ||
        !description ||
        !price ||
        !category ||
        !status ||
        !quantity ||
        !kazniisa ||
        !articul
      ) {
        $.ambiance({
          message: "Заполните все поля",
          type: "error",
          fade: true,
          width: 400,
        })
        return loading(20, (el = "#add_product_btn"))
      }


      if (title.length > 50) {
        $("#title").focus();
        $.ambiance({
          message:
            "Длина заголовка должна составлять не более 30",
          type: "error",
          fade: true,
          width: 400,
        });
        return loading(20, (el = "#add_product_btn"));
      }


      let formData = new FormData();
      formData.set("product_img", img);
      formData.set("title", title);
      formData.set("description", description);
      formData.set("price", price);
      formData.set("category", category);
      formData.set("status", status);
      console.log(quantity);
      formData.set("quantity", quantity);
      formData.set("kazniisa", kazniisa);
      formData.set("articul", articul);


      $.ajax({
        url: "/api/admin/product/create",
        method: "post",
        data: formData,
        processData: false,
        contentType: false,
        success: function (res) {
          if (res.r) {
            $.ambiance({
              message: "Новый товар добавлен",
              type: "success",
              fade: true,
              width: 400,
            })
            $("#add_product-modal").modal("hide");
            $("#add_product-modal input").val("");
            showProducts();
          }

          return loading(20, (el = "#add_product_btn"))
        },
        error: function (err) {
          console.log(err)
          $.ambiance({
            message: "Что то пошло не так. Повторите позже",
            type: "error",
            fade: true,
            width: 400,
          })
          return loading(20, (el = "#add_product_btn"))
        },
      })
    }

    function showEditProductModal(product_index, id) {
      globalProductId = id;
      $('#new_product_src').attr('src', $(product_index).find('td:nth-child(2) img').attr('src'))
      $('#new_title').val(`${$(product_index).find('td:nth-child(3)').text()}`);
      $('#new_description').val(`${$(product_index).find('td:nth-child(4)').text()}`);
      $('#new_category').val(`${$(product_index).find('td:nth-child(5)').text()}`);
      $('#new_kazniisa').val(`${$(product_index).find('td:nth-child(6)').text()}`);
      $('#new_articul').val(`${$(product_index).find('td:nth-child(7)').text()}`);
      $('#new_quantity').val(`${$(product_index).find('td:nth-child(8)').text()}`);
      $('#new_price').val(`${$(product_index).find('td:nth-child(9)').text()}`);
      $("#edit_product-modal").modal("show");
    }

    function editProduct() {
      loading(2, (el = "#edit_product_btn"));
      let img = $("#new_product_img")[0].files[0];
      let title = $("#new_title").val().trim();
      let description = $("#new_description").val().trim();
      let price = $("#new_price").val();
      let category = $("#new_category").val().trim();
      let status = $("#new_status").val().trim();
      let quantity = $("#new_quantity").val();
      let kazniisa = $("#new_kazniisa").val();
      let articul = $("#new_articul").val().trim();
      let product_img_src = null;

      if (!title || !description || !price || !category || !status || !quantity) {
        $.ambiance({
          message: "Заполните все поля",
          type: "error",
          fade: true,
          width: 400,
        })
        return loading(20, (el = "#edit_product_btn"));
      }

      if (!img || img == undefined) {
        product_img_src = $('#new_product_src').attr('src')
        if (product_img_src == './public/images/default_product.png') {
          product_img_src = null;
          img = null;
        }
      }

      let formData = new FormData();
      console.log(quantity)
      formData.set("product_id", globalProductId);
      formData.set("product_img", img);
      formData.set("title", title);
      formData.set("description", description);
      formData.set("price", price);
      formData.set("category", category);
      formData.set("status", status);
      formData.set("quantity", quantity);
      formData.set("kazniisa", kazniisa);
      formData.set("articul", articul);
      
      $.ajax({
        url: "/api/admin/product/update",
        method: "post",
        data: formData,
        processData: false,
        contentType: false,
        success: function (res) {
          if (res.r) {
            $.ambiance({
              message: "Новый товар добавлен",
              type: "success",
              fade: true,
              width: 400,
            });
            $("#edit_product-modal").modal("hide");
            location.reload(true)
          }
          return loading(20, (el = "#edit_product_btn"));
        },
        error: function (err) {
          console.log(err)
          $.ambiance({
            message: "Что то пошло не так. Повторите позже",
            type: "error",
            fade: true,
            width: 400,
          })
          return loading(20, (el = "#edit_product_btn"))
        },
      });
    }

    function showDeleteProductModal(id) {
      globalProductId = id;
      $("#delete_product-modal").modal("show");
    }

    function deleteProduct() {
      loading(2, '#delete_product_btn');
      $.ajax({
        url: "/api/admin/product/delete",
        method: "post",
        data: { product_id: globalProductId },
        success: function (res) {
          if (res.r) {
            $.ambiance({
              message: "Товар был успешно удален",
              type: "success",
              fade: true,
              width: 400,
            })
            $("#delete_product-modal").modal("hide");
            loading(20, '#delete_product_btn');
            showProducts();
          }
        },
      });
    }

    function searchProduct(text) {
      let productsHTML = "";
      let i = 1;
      $("#products").html('');
      globalProducts.forEach((p) => {
        if (p.title.includes(text) || p.description.includes(text)) {
          productsHTML += `
              <tr id="product-${i}"">
                <th scope="row">${i}</th>
                <td>
                  <img src="${p.product_img}" alt="" />
                </td>
                <td>${p.title}</td>
                <td>${p.description}</td>
                <td>${p.category}</td>
                <td>${p.price}</td>
                <td style="width: 10%">${p.quantity}</td>
                <td style="width: 10%">${p.kazniisa}</td>
                <td style="width: 10%">${p.articul}</td>

                <td style="width: 12%">
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="showEditProductModal('#product-${i}','${p.product_id}')">
                    <span class="material-symbols-outlined"> edit_document </span>
                  </button>

                  <button type="button" class="btn table-icon" data-toggle="modal" data-target="#deleteModal" onclick="showDeleteProductModal('${p.product_id}')">
                    <span class="material-symbols-outlined text-danger"> delete </span>
                  </button>
                </td>
              </tr>`

        }
        i++;
      });
      $("#products").append(productsHTML)
    }

    function logout() {
      $.ajax({
        url: '/api/auth/logout',
        method: 'POST',
        success: function (r) {
          window.location.replace("/login");

        }
      })
    }
  </script>
</body>

</html>