<head>
  <title>Universal Electro | Товары</title>
  <link rel="stylesheet" href="/public/css/bootstrap.css" />
</head>
<body>
  <main>
    <div class="container">
      <form class="d-flex justify-content-between mt-5 gap-3" role="search">
        <div class="search position-relative flex-fill">
          <input class="form-control me-2 w-100 search-input border-secondary ps-5" onkeyup="searchRequest(this.value)"
            type="search" placeholder="Введите" aria-label="Search" />
          <span class="material-symbols-outlined position-absolute top-50 translate-middle ps-5">
            search
          </span>
        </div>
        <select class="form-select w-25" id="status" onchange="showRequestsByStatus()">
          <option selected value="all">Все запросы</option>
          <option value="0">Новые</option>
          <option value="1">Выполненные</option>
          <option value="2">В обработке</option>
        </select>
      </form>

      <div id="requests" class="mt-4"></div>

      <div id="selected_requester_block" class="rounded mt-3 p-3" style="display: none;">
        <div class="d-flex align-items-center gap-4 flex-wrap">
          <button class="btn btn-warning text-light d-flex align-items-center" onclick="showRequests()"><span
              class="material-symbols-outlined">
              arrow_back
            </span> Другие заказы</button>
          <div class="selected_requester_info flex-fill"></div>
          <div class="action_buttons d-flex gap-4 flex-wrap">
            <div class="btn btn-outline-primary" id="save_request_btn" style="display: none;" onclick="saveRequest()">
              Сохранить</div>
            <button class="btn btn-light" id="request_status" onclick="updateStatus()"></button>
            <div class="btn btn-success" onclick="extractPDF()">Скачать PDF</div>
            <div class="btn btn-danger" onclick="showDeleteRequestModal()">Удалить запрос</div>
          </div>
        </div>
      </div>

      <div id="table_block" style="width: 100%; overflow-x: auto; display: none;">
        <table class="table table-hover table-bordered border-secondary mt-3 text-center align-middle">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Картинка</th>
              <th scope="col">Название</th>
              <th scope="col">Описание</th>
              <th scope="col">Категория</th>
              <th scope="col">КазНИИСА</th>
              <th scope="col">Артикул</th>
              <th scope="col">Количество</th>
              <th scope="col">Общая сумма</th>
              <th scope="col">Действия</th>
            </tr>
          </thead>
          <tbody id="products"></tbody>
        </table>
      </div>

    </div>
  </main>


  <!-- Modals -->
  <div class="modal fade" id="add_product-modal">
    <div class="modal-dialog text-left">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Добавить товар</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">

              <label for="new_count" class="form-label">Название товара</label>
              <select name="" id="new_product" class="form-control">

              </select>
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Отмена
            </button>
            <button type="button" class="btn btn-primary" onclick="addProduct()">
              Сохранить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="delete_request-modal">
    <div class="modal-dialog text-left">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Удалить заказ</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">Вы уверены что хотите удалить данный заказ?</div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Отмена
            </button>
            <button type="button" class="btn btn-danger" id="delete_request_btn" onclick="deleteRequest()">
              Удалить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="delete_request_item-modal">
    <div class="modal-dialog text-left">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Удалить товар</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">Вы уверены что хотите удалить данный товар из списка?</div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Отмена
            </button>
            <button type="button" class="btn btn-danger" onclick="deleteRequestItem()">
              Удалить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="edit_request_item-modal">
    <div class="modal-dialog text-left">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Обновить запрос</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="new_count" class="form-label">Количество</label>
              <input type="number" class="form-control" id="new_count" placeholder="" />
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Отмена
            </button>
            <button type="button" class="btn btn-primary" onclick="editRequestItem()">
              Сохранить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    var x;
    var globalRequests = [];
    var globalRequestItemId;
    var globalRequestIndex;
    var globalProducts;
    var globalRequestId;


    $(() => {
      loading(1);
      showRequests();
      getProducts();
      loading(0);
    });

    function showRequests() {
      let i = 0;
      $('#table_block').hide();
      $('#selected_requester_block').hide();
      $('#requests').show();
      $("#requests").html('');
      let requestsHTML = "";
      $.ajax({
        url: "/api/admin/requests",
        method: "get",
        success: function (data) {
          globalRequests = data;
          data.forEach((r) => {
            var requestStatus = 'Новый заказ'
            var date = new Date(r.created_time);
            var options = { day: 'numeric', month: 'long', hour: 'numeric', minute: 'numeric', hour12: false };
            var formattedDate = date.toLocaleDateString('ru-RU', options);
            var statusClass = (r.status == 0) ? 'bg-primary ' : (r.status == 1) ? 'bg-success' : 'bg-warning';
            if (r.status == 1) requestStatus = 'Выполнено';
            else if (r.status == 2) requestStatus = 'В обработке';

            requestsHTML += `
            <div class="request p-3 border border-secondary border-2 rounded" onclick="showRequestData(${i})">
              <span class="badge ${statusClass} p-2 mb-2">${requestStatus}</span>
              <div class="requester">${r.name}</div>
              <div class="requester_phone text-secondary">Номер: ${r.phone}</div>
              <div class="d-flex justify-content-between flex-wrap align-items-end">
                <div class="amount bg-secondary w-50 text-light rounded p-2 mt-2">Общая сумма: ${getTotalAmount(r.products_list)} ₸</div>
                <div class="request_time text-dark">${formattedDate}</div>  
              
              </div> 
            </div>
              `
            i++;
          });
          $("#requests").append(requestsHTML);
        },
      })
    }

    function showRequestsByStatus() {
      let i = 0;
      var selectedStatus = $('#status').val();
      $("#requests").html('');
      let requestsHTML = "";

      globalRequests.forEach((r) => {
        if (r.status == selectedStatus || selectedStatus == 'all') {
          var requestStatus = 'Новый заказ';
          var date = new Date(r.created_time);
          var options = { day: 'numeric', month: 'long', hour: 'numeric', minute: 'numeric', hour12: false };
          var formattedDate = date.toLocaleDateString('ru-RU', options);
          var statusClass = (r.status == 0) ? 'bg-primary ' : (r.status == 1) ? 'bg-success' : 'bg-warning';
          if (r.status == 1) requestStatus = 'Выполнено';
          else if (r.status == 2) requestStatus = 'В обработке';

          requestsHTML += `
            <div class="request p-3 border border-secondary border-2 rounded" onclick="showRequestData(${i})">
              <span class="badge ${statusClass} p-2 mb-2">${requestStatus}</span>
              <div class="requester">${r.name}</div>
              <div class="requester_phone text-secondary">Номер: ${r.phone}</div>
              <div class="d-flex justify-content-between flex-wrap align-items-end">
                <div class="amount bg-secondary w-50 text-light rounded p-2 mt-2">Общая сумма: ${getTotalAmount(r.products_list)} ₸</div>
                <div class="request_time text-dark">${formattedDate}</div>  
              </div> 
            </div>
              `
        }
        i++;
      });
 
      $("#requests").append(requestsHTML);
    }

    function searchRequest(text){
      let i = 0;
     
      $("#requests").html('');
      let requestsHTML = "";

      globalRequests.forEach((r) => {
        console.log(r)
        if (r.name.includes(text)) {
          var requestStatus = 'Новый заказ';
          var date = new Date(r.created_time);
          var options = { day: 'numeric', month: 'long', hour: 'numeric', minute: 'numeric', hour12: false };
          var formattedDate = date.toLocaleDateString('ru-RU', options);
          var statusClass = (r.status == 0) ? 'bg-primary ' : (r.status == 1) ? 'bg-success' : 'bg-warning';
          if (r.status == 1) requestStatus = 'Выполнено';
          else if (r.status == 2) requestStatus = 'В обработке';

          requestsHTML += `
            <div class="request p-3 border border-secondary border-2 rounded" onclick="showRequestData(${i})">
              <span class="badge ${statusClass} p-2 mb-2">${requestStatus}</span>
              <div class="requester">${r.name}</div>
              <div class="requester_phone text-secondary">Номер: ${r.phone}</div>
              <div class="d-flex justify-content-between flex-wrap align-items-end">
                <div class="amount bg-secondary w-50 text-light rounded p-2 mt-2">Общая сумма: ${getTotalAmount(r.products_list)} ₸</div>
                <div class="request_time text-dark">${formattedDate}</div>  
              </div> 
            </div>
              `
        }
        i++;
      });
 
      $("#requests").append(requestsHTML);
    }

    function showRequestData(request_index) {
      $('#selected_requester_block').show();
      $('#requests').hide();
      var productsList = JSON.parse(globalRequests[request_index].products_list);
      var productsHTML = '';
      var requesterName = globalRequests[request_index].name;
      var requesterPhone = globalRequests[request_index].phone;
      var requesterEmail = globalRequests[request_index].email ? globalRequests[request_index].email : 'Отсутствует';
      var requestStatus = Number(globalRequests[request_index].status);
      localStorage.setItem('request_data', JSON.stringify(globalRequests[request_index]));
      globalRequestId = globalRequests[request_index].request_id;
      globalRequestIndex = request_index;
      $("#products").html('');

      let i = 1;
      productsList.forEach((p) => {
        productsHTML += `
              <tr id="request-item-${i}">
                <th scope="row">${i}</th>
                <td>
                  <img src="${p.product_img}" alt="" />
                </td>
                <td>${p.title}</td>
                <td><div style="max-height: 100px; overflow-y: auto; text-overflow: ellipsis">${p.description}</div></td>
                <td>${p.category}</td>
                <td style="width: 10%">${p.kazniisa}</td>
                <td style="width: 10%">${p.articul}</td>
                <td style="width: 10%">${p.count}</td>
                <td>${p.price * p.count}</td>
                <td style="width: 12%">
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="showEditRequestItemModal('request-item-${i}','${p.product_id}')">
                    <span class="material-symbols-outlined"> edit_document </span>
                  </button>

                  <button type="button" class="btn table-icon" data-toggle="modal" data-target="#deleteModal" onclick="showDeleteRequestItemModal('${p.product_id}')">
                    <span class="material-symbols-outlined text-danger"> delete </span>
                  </button>
                </td>
              </tr>`;
        i++;
      });

      var requesterInfo = `
        <div>${requesterName}</div>
        <div>Общая сумма заказа: ${getTotalAmount(globalRequests[request_index].products_list)} ₸</div>
        <div>Номер телефона: ${requesterPhone}</div>
        <div>Почта: ${requesterEmail}</div>
      `;

      if (requestStatus == 1) {
        $('#request_status').html(' Статус: Выполнено');
        $('#request_status').attr('status', 1);
        $('#request_status').css({
          "box-shadow": '0 0 5px green'
        });
      } else if (requestStatus == 2) {
        $('#request_status').html(' Статус: В обработке');
        $('#request_status').attr('status', 2);
        $('#request_status').css({
          "box-shadow": '0 0 5px orange'
        });
      } else {
        $('#request_status').html(' Статус: Новый заказ');
        $('#request_status').attr('status', 0);
        $('#request_status').css({
          "box-shadow": '0 0 5px blue'
        });
      }
      productsHTML += '<tr><th><button class="btn btn-secondary" onclick="showAddProductModal()">+</button></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>'
      $("#table_block").show();
      $("#products").append(productsHTML);
      $("#selected_requester_block .selected_requester_info").html(requesterInfo);
    }

    function showDeleteRequestModal() {
      $("#delete_request-modal").modal("show");
    }

    function deleteRequest() {
      loading(2, '#delete_request_btn');
      $.ajax({
        url: "/api/admin/request/delete",
        method: "post",
        data: { request_id: globalRequestId, },
        success: function (res) {
          if (res.r) {
            $.ambiance({
              message: "Запрос был успешно удален",
              type: "success",
              fade: true,
              width: 400,
            });
            $("#delete_request-modal").modal("hide");
            loading(20, '#delete_request_btn');
            showRequests();
          }
        },
      });
    }

    function showDeleteRequestItemModal(productId) {
      $("#delete_request_item-modal").modal("show");
      globalRequestItemId = productId;
    }

    function deleteRequestItem() {
      var requestData = JSON.parse(localStorage.getItem('request_data'));
      var requestItemsList = JSON.parse(requestData.products_list);
      var updatedRequestItemsList = requestItemsList.filter(item => item.product_id != globalRequestItemId);
      requestData.products_list = JSON.stringify(updatedRequestItemsList)
      globalRequests[globalRequestIndex].products_list = JSON.stringify(updatedRequestItemsList)
      showRequestData(globalRequestIndex);
      $("#delete_request_item-modal").modal("hide");
      $('#save_request_btn').show();
      globalRequestItemId = '';

    }

    function saveRequest() {
      loading(2, '#save_request_btn');
      var requestData = JSON.parse(localStorage.getItem('request_data'));
      var requestItemsList = requestData.products_list;

      $.ajax({
        url: '/api/admin/request/update',
        method: 'POST',
        dataType: 'json',
        data: { request_id: globalRequestId, products_list: requestItemsList, action: 'updateList' },
        success: function (res) {
          if (res.r) {
            $.ambiance({
              message: "Запрос был успешно обновлен", type: "success", fade: true, width: 400,
            });
            $('#save_request_btn').hide();
          } else {
            $.ambiance({
              message: "Что-то пошло не так", type: "error", fade: true, width: 400,
            });
          }
          loading(20, '#save_request_btn');

        }
      })
    }

    function updateStatus() {
      let status = $('#request_status').attr('status');
      status = (status == 0) ? 2 : (status == 1) ? 0 : 1;
      loading(2, '#request_status');
      $.ajax({
        url: "/api/admin/request/update",
        method: "post",
        data: { request_id: globalRequestId, status: status, action: 'updateStatus' },
        success: function (res) {
          if (res.r) {
            $.ambiance({
              message: "Запрос был успешно обновлен",
              type: "success",
              fade: true,
              width: 400,
            });
            globalRequests[globalRequestIndex].status = status;
            setTimeout(() => {
              showRequestData(globalRequestIndex);

              loading(20, '#request_status');
            }, 2000)


          }
        },
      });
    }

    function showEditRequestItemModal(requestItemId, productId) {
      $("#edit_request_item-modal").modal("show");
      $('#new_count').val($(`#${requestItemId} td:nth-child(7)`).html())
      globalRequestItemId = productId;
    }

    function editRequestItem() {
      var requestData = JSON.parse(localStorage.getItem('request_data'));
      var requestItemsList = JSON.parse(requestData.products_list);
      var new_count = $('#new_count').val();
      var updatedRequestItemsList = requestItemsList.map(item => {
        if (item.product_id == globalRequestItemId) {
          return { ...item, count: new_count };
        }
        return item;
      });
      requestData.products_list = JSON.stringify(updatedRequestItemsList)
      globalRequests[globalRequestIndex].products_list = JSON.stringify(updatedRequestItemsList)
      showRequestData(globalRequestIndex);
      $("#edit_request_item-modal").modal("hide");
      $('#save_request_btn').show();
      globalRequestItemId = '';

    }

    function getProducts() {
      $.ajax({
        url: "/api/catalog/products",
        method: "get",
        success: function (data) {
          globalProducts = data;
        }
      });
    }

    function showAddProductModal() {
      $("#add_product-modal").modal("show");
      var requestData = JSON.parse(localStorage.getItem('request_data'));

      var productOptions = '<option disabled selected value="none">Не выбрано</option>';
      globalProducts.forEach((product, index) => {
        var stateExisting = false;
        JSON.parse(requestData.products_list).forEach((exist_product) => {
          if (product.product_id == exist_product.product_id) stateExisting = true;
        });
        if (!stateExisting) {
          productOptions += `
        <option value="${index}">${product.title}</option>
        `;
        }

      });
      $('#new_product').html(productOptions);
    }

    function addProduct() {
      var productIndex = $('#new_product').val();
      var updatedRequestItemsList = JSON.parse(globalRequests[globalRequestIndex].products_list)
      updatedRequestItemsList.push(globalProducts[productIndex]);
      globalProducts[productIndex].count = 1;

      globalRequests[globalRequestIndex].products_list = JSON.stringify(updatedRequestItemsList);
      $('#save_request_btn').show();
      $("#add_product-modal").modal("hide");
      showRequestData(globalRequestIndex);
    }

    function getTotalAmount(productsList) {
      let total_amount = 0;

      JSON.parse(productsList).forEach((product) => {
        if (!product.count) return;
        total_amount += Number(product.price) * product.count
      });
      return total_amount;
    }

    function extractPDF() {
      var requestData = JSON.parse(localStorage.getItem('request_data'));
      var requestItemsList = requestData.products_list;
      var count = getTotalAmount(requestItemsList);
      if (!count) {
        return $.ambiance({
          message: 'Нет товаров', type: "error", fade: true, width: 400,
        });
      }

      window.location.href = '/api/catalog/product/buy?request_id=' + globalRequestId;

    }

    function logout() {
      $.ajax({
        url: '/api/auth/logout',
        method: 'POST',
        success: function (r) {
          window.location.replace("/login");
        }
      });
    }
  </script>
</body>

</html>