<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <title>Universal Electro | Товары</title>
  <link rel="stylesheet" href="/public/css/bootstrap.css" />

  <%- include('./components/head.ejs.html') %>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/public/images/logo.png" width="150" alt="" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/admin/products">Товары</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="/admin/requests">Запросы</a>
            </li>
          </ul>
          <a class="btn btn-outline-dark" onclick="logout()">Выйти</a>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="container">
      <form class="d-flex justify-content-between mt-5" role="search">
        <div class="search position-relative w-100">
          <input class="form-control me-2 w-100 search-input border-secondary ps-5" onkeyup="searchProduct(this.value)"
            type="search" placeholder="Введите" aria-label="Search" />
          <span class="material-symbols-outlined position-absolute top-50 translate-middle ps-5">
            search
          </span>
        </div>

       
      </form>

      <div id="requests" class="mt-4">



      </div>

      <div class="selected_requester" style="display: none;">

      </div>

      <div id="table_block" style="width: 100%; overflow-x: auto; display: none;">
        <table class="table table-hover table-bordered border-secondary mt-5 text-center align-middle">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Картинка</th>
              <th scope="col">Название</th>
              <th scope="col">Описание</th>
              <th scope="col">Категория</th>
              <th scope="col">Цена</th>
              <th scope="col">Количество</th>
              <th scope="col">КазНИИСА</th>
              <th scope="col">Артикул</th>
              <th scope="col">Действия</th>
            </tr>
          </thead>
          <tbody id="products"></tbody>
        </table>
      </div>

    </div>
  </main>


  <!-- Modals -->
  <div class="modal fade" id="delete_request-modal">
    <div class="modal-dialog text-left">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Удалить заказ</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">Вы уверены что хотите удалить данный заказ?</div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Отмена
            </button>
            <button type="button" class="btn btn-danger" id="delete_request_btn" onclick="deleteRequest()">
              Удалить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    var globalRequestId;
    var globalRequests=[];

    $(() => {
      loading(1);
      showRequests();
      loading(0);
    });

    function showRequests() {
      let i = 0;
      $("#requests").html('');
      let requestsHTML = "";
      $.ajax({
        url: "/api/admin/requests",
        method: "get",
        success: function (data) {
          globalRequests = data;
          console.log(data)
          data.forEach((r) => {
            requestsHTML += `
            <div class="request p-3 rounded" onclick="showRequestData(${i})">
              <div class="requester">${r.name}</div>
              <div class="requester_phone text-secondary">Номер: ${r.phone}</div>
              <div class="amount bg-primary w-50 text-light rounded p-2 mt-2">Общая сумма: ${getTotalAmount(r.products_list)} ₸</div>
            </div>
              `
            i++;
          });
          $("#requests").append(requestsHTML)
        },
      })
    }

    function showRequestData(request_index){
        var productsList = JSON.parse(globalRequests[request_index].products_list);
        var productsHTML = '';
        $("#products").html('');
        productsList.forEach((p) => {
          productsHTML += `
              <tr id="product-${request_index}"">
                <th scope="row">${request_index}</th>
                <td>
                  <img src="${p.product_img}" alt="" />
                </td>
                <td>${p.title}</td>
                <td>${p.description}</td>
                <td>${p.category}</td>
                <td>${p.price}</td>
                <td style="width: 10%">${p.count}</td>
                <td style="width: 10%">${p.kazniisa}</td>
                <td style="width: 10%">${p.articul}</td>

                <td style="width: 12%">
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="showEditProductModal('#product-${request_index}','${p.product_id}')">
                    <span class="material-symbols-outlined"> edit_document </span>
                  </button>

                  <button type="button" class="btn table-icon" data-toggle="modal" data-target="#deleteModal" onclick="showDeleteProductModal('${p.product_id}')">
                    <span class="material-symbols-outlined text-danger"> delete </span>
                  </button>
                </td>
              </tr>` 
      });
      $("#table_block").show()
      $("#products").append(productsHTML);
    }

    function getTotalAmount(productsList) {
      let total_amount = 0;
     
      JSON.parse(productsList).forEach((product) => {
        console.log(product)
        if (!product.count) return;
        total_amount += Number(product.price) * product.count
      });
      return total_amount;
    }

    function showDeleteProductModal(id) {
      globalRequestId = id;
      $("#delete_request-modal").modal("show");
    }

    function deleteRequest() {
      loading(2, '#delete_request_btn');
      $.ajax({
        url: "/api/admin/request/delete",
        method: "post",
        data: { product_id: globalProductId },
        success: function (res) {
          if (res.r) {
            $.ambiance({
              message: "Запрос был успешно удален",
              type: "success",
              fade: true,
              width: 400,
            })
            $("#delete_request-modal").modal("hide");
            loading(20, '#delete_request_btn');
            showProducts();
          }
        },
      });
    }

    // function searchProduct(text) {
    //   let productsHTML = "";
    //   let i = 1;
    //   $("#products").html('');
    //   globalProducts.forEach((p) => {
    //     if (p.title.includes(text) || p.description.includes(text)) {
    //       productsHTML += `
    //           <tr id="product-${i}"">
    //             <th scope="row">${i}</th>
    //             <td>
    //               <img src="${p.product_img}" alt="" />
    //             </td>
    //             <td>${p.title}</td>
    //             <td>${p.description}</td>
    //             <td>${p.category}</td>
    //             <td>${p.price}</td>
    //             <td style="width: 10%">${p.quantity}</td>
    //             <td style="width: 10%">${p.kazniisa}</td>
    //             <td style="width: 10%">${p.articul}</td>

    //             <td style="width: 12%">
    //               <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="showEditProductModal('#product-${i}','${p.product_id}')">
    //                 <span class="material-symbols-outlined"> edit_document </span>
    //               </button>

    //               <button type="button" class="btn table-icon" data-toggle="modal" data-target="#deleteModal" onclick="showDeleteProductModal('${p.product_id}')">
    //                 <span class="material-symbols-outlined text-danger"> delete </span>
    //               </button>
    //             </td>
    //           </tr>`

    //     }
    //     i++;
    //   });
    //   $("#products").append(productsHTML)
    // }

    function logout() {
      $.ajax({
        url: '/api/auth/logout',
        method: 'POST',
        success: function (r) {
          window.location.replace("/login");

        }
      })
    }
  </script>
</body>

</html>