<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <title>Universal Electro | Товары</title>
  <link rel="stylesheet" href="/public/css/bootstrap.css" />

  <%- include('./components/head.ejs.html') %>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/public/images/logo.png" width="150" alt="" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/admin/products">Товары</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="/admin/requests">Запросы</a>
            </li>
          </ul>
          <a class="btn btn-outline-dark" onclick="logout()">Выйти</a>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="container">
      <form class="d-flex justify-content-between mt-5" role="search">
        <div class="search position-relative w-100">
          <input class="form-control me-2 w-100 search-input border-secondary ps-5" onkeyup="searchRequest(this.value)"
            type="search" placeholder="Введите" aria-label="Search" />
          <span class="material-symbols-outlined position-absolute top-50 translate-middle ps-5">
            search
          </span>
        </div>
      </form>

      <div id="requests" class="mt-4"></div>

      <div id="selected_requester_block" class="rounded mt-3 p-3" style="display: none;">
        <div class="d-flex align-items-center gap-4 flex-wrap">
          <button class="btn btn-warning text-light d-flex align-items-center" onclick="showRequests()"><span
              class="material-symbols-outlined">
              arrow_back
            </span> Другие заказы</button>
          <div class="selected_requester_info flex-fill"></div>
          <div class="action_buttons d-flex gap-4 flex-wrap">
            <div class="btn btn-outline-primary" id="save_request_btn" style="display: none;" onclick="saveRequest()">
              Сохранить</div>
            <div class="btn btn-success" onclick="extractPDF()">Скачать PDF</div>
            <div class="btn btn-danger" onclick="showDeleteRequestModal()">Удалить запрос</div>
          </div>
        </div>
      </div>

      <div id="table_block" style="width: 100%; overflow-x: auto; display: none;">
        <table class="table table-hover table-bordered border-secondary mt-3 text-center align-middle">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Картинка</th>
              <th scope="col">Название</th>
              <th scope="col">Описание</th>
              <th scope="col">Категория</th>
              <th scope="col">Общая сумма</th>
              <th scope="col">Количество</th>
              <th scope="col">КазНИИСА</th>
              <th scope="col">Артикул</th>
              <th scope="col">Действия</th>
            </tr>
          </thead>
          <tbody id="products"></tbody>
        </table>
      </div>

    </div>
  </main>


  <!-- Modals -->
  <div class="modal fade" id="add_product-modal">
    <div class="modal-dialog text-left">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Добавить товар</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">

              <label for="new_count" class="form-label">Название товара</label>
              <select name="" id="new_product" class="form-control">

              </select>
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Отмена
            </button>
            <button type="button" class="btn btn-primary" onclick="addProduct()">
              Сохранить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="delete_request-modal">
    <div class="modal-dialog text-left">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Удалить заказ</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">Вы уверены что хотите удалить данный заказ?</div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Отмена
            </button>
            <button type="button" class="btn btn-danger" id="delete_request_btn" onclick="deleteRequest()">
              Удалить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="delete_request_item-modal">
    <div class="modal-dialog text-left">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Удалить товар</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">Вы уверены что хотите удалить данный товар из списка?</div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Отмена
            </button>
            <button type="button" class="btn btn-danger" onclick="deleteRequestItem()">
              Удалить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="edit_request_item-modal">
    <div class="modal-dialog text-left">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Обновить запрос</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="new_count" class="form-label">Количество</label>
              <input type="number" class="form-control" id="new_count" placeholder="" />
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Отмена
            </button>
            <button type="button" class="btn btn-primary" onclick="editRequestItem()">
              Сохранить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    var x;
    var globalRequests = [];
    var globalRequestItemId;
    var globalRequestIndex;
    var globalProducts;


    $(() => {
      loading(1);
      showRequests();
      getProducts();
      loading(0);
    });

    function showRequests() {
      let i = 0;
      $('#table_block').hide();
      $('#selected_requester_block').hide();
      $('#requests').show();
      $("#requests").html('');
      let requestsHTML = "";
      $.ajax({
        url: "/api/admin/requests",
        method: "get",
        success: function (data) {
          globalRequests = data;
          data.forEach((r) => {
            requestsHTML += `
            <div class="request p-3 rounded" onclick="showRequestData(${i})">
              <div class="requester">${r.name}</div>
              <div class="requester_phone text-secondary">Номер: ${r.phone}</div>
              <div class="amount bg-primary w-50 text-light rounded p-2 mt-2">Общая сумма: ${getTotalAmount(r.products_list)} ₸</div>
            </div>
              `
            i++;
          });
          $("#requests").append(requestsHTML);
        },
      })
    }

    function showRequestData(request_index) {
      $('#selected_requester_block').show();
      $('#requests').hide();
      var productsList = JSON.parse(globalRequests[request_index].products_list);
      var productsHTML = '';
      var requesterName = globalRequests[request_index].name;
      var requesterPhone = globalRequests[request_index].phone;
      localStorage.setItem('request_data', JSON.stringify(globalRequests[request_index]));
      globalRequestId = globalRequests[request_index].request_id;
      globalRequestIndex = request_index;
      $("#products").html('');

      let i = 1;
      productsList.forEach((p) => {
        productsHTML += `
              <tr id="request-item-${i}">
                <th scope="row">${i}</th>
                <td>
                  <img src="${p.product_img}" alt="" />
                </td>
                <td>${p.title}</td>
                <td>${p.description}</td>
                <td>${p.category}</td>
                <td>${p.price * p.count}</td>
                <td style="width: 10%">${p.count}</td>
                <td style="width: 10%">${p.kazniisa}</td>
                <td style="width: 10%">${p.articul}</td>

                <td style="width: 12%">
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="showEditRequestItemModal('request-item-${i}','${p.product_id}')">
                    <span class="material-symbols-outlined"> edit_document </span>
                  </button>

                  <button type="button" class="btn table-icon" data-toggle="modal" data-target="#deleteModal" onclick="showDeleteRequestItemModal('${p.product_id}')">
                    <span class="material-symbols-outlined text-danger"> delete </span>
                  </button>
                </td>
              </tr>`;
        i++;
      });

      var requesterInfo = `
        <div>${requesterName}</div>
        <div>Общая сумма заказа: ${getTotalAmount(globalRequests[request_index].products_list)} ₸</div>
      `;
      productsHTML += '<tr><th><button class="btn btn-secondary" onclick="showAddProductModal()">+</button></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>'
      $("#table_block").show();
      $("#products").append(productsHTML);
      $("#selected_requester_block .selected_requester_info").html(requesterInfo);
    }

    function showDeleteRequestModal() {
      $("#delete_request-modal").modal("show");
    }

    function deleteRequest() {
      loading(2, '#delete_request_btn');
      $.ajax({
        url: "/api/admin/request/delete",
        method: "post",
        data: { request_id: globalRequestId, },
        success: function (res) {
          if (res.r) {
            $.ambiance({
              message: "Запрос был успешно удален",
              type: "success",
              fade: true,
              width: 400,
            });
            $("#delete_request-modal").modal("hide");
            loading(20, '#delete_request_btn');
            showRequests();
          }
        },
      });
    }

    function showDeleteRequestItemModal(productId) {
      $("#delete_request_item-modal").modal("show");
      globalRequestItemId = productId;
    }

    function deleteRequestItem() {
      var requestData = JSON.parse(localStorage.getItem('request_data'));
      var requestItemsList = JSON.parse(requestData.products_list);
      console.log(requestItemsList)
      console.log(globalRequestItemId)
      var updatedRequestItemsList = requestItemsList.filter(item => item.product_id != globalRequestItemId);
      requestData.products_list = JSON.stringify(updatedRequestItemsList)
      console.log(requestData)
      globalRequests[globalRequestIndex].products_list = JSON.stringify(updatedRequestItemsList)
      showRequestData(globalRequestIndex);
      $("#delete_request_item-modal").modal("hide");
      $('#save_request_btn').show();
      globalRequestItemId = '';

    }

    function saveRequest() {
      loading(2, '#save_request_btn');
      var requestData = JSON.parse(localStorage.getItem('request_data'));
      var requestItemsList = requestData.products_list;

      $.ajax({
        url: '/api/admin/request/update',
        method: 'POST',
        dataType: 'json',
        data: { request_id: globalRequestId, products_list: requestItemsList },
        success: function (res) {
          if (res.r) {
            $.ambiance({
              message: "Запрос был успешно обновлен", type: "success", fade: true, width: 400,
            });
            $('#save_request_btn').hide();
          } else {
            $.ambiance({
              message: "Что-то пошло не так", type: "error", fade: true, width: 400,
            });
          }
          loading(20, '#save_request_btn');

        }
      })
    }

    function showEditRequestItemModal(requestItemId, productId) {
      $("#edit_request_item-modal").modal("show");

      $('#new_count').val($(`#${requestItemId} td:nth-child(7)`).html())
      globalRequestItemId = productId;
    }

    function editRequestItem() {
      var requestData = JSON.parse(localStorage.getItem('request_data'));
      var requestItemsList = JSON.parse(requestData.products_list);
      var new_count = $('#new_count').val();
      var updatedRequestItemsList = requestItemsList.map(item => {
        if (item.product_id == globalRequestItemId) {
          return { ...item, count: new_count };
        }
        return item;
      });
      requestData.products_list = JSON.stringify(updatedRequestItemsList)
      globalRequests[globalRequestIndex].products_list = JSON.stringify(updatedRequestItemsList)
      showRequestData(globalRequestIndex);
      $("#edit_request_item-modal").modal("hide");
      $('#save_request_btn').show();
      globalRequestItemId = '';

    }

    function getProducts() {
      $.ajax({
        url: "/api/catalog/products",
        method: "get",
        success: function (data) {
          globalProducts = data;
        }
      });
    }

    function showAddProductModal() {
      $("#add_product-modal").modal("show");
      var requestData = JSON.parse(localStorage.getItem('request_data'));

      var productOptions = '<option disabled selected value="none">Не выбрано</option>';
      globalProducts.forEach((product, index) => {
        var stateExisting = false;
        JSON.parse(requestData.products_list).forEach((exist_product) => {
          if (product.product_id == exist_product.product_id) stateExisting = true;
        });
        if (!stateExisting) {
          productOptions += `
        <option value="${index}">${product.title}</option>
        `;
        }

      });
      $('#new_product').html(productOptions);
    }

    function addProduct() {
      var productIndex = $('#new_product').val();
      var updatedRequestItemsList = JSON.parse(globalRequests[globalRequestIndex].products_list)
      updatedRequestItemsList.push(globalProducts[productIndex]);
      globalProducts[productIndex].count = 1;

      globalRequests[globalRequestIndex].products_list = JSON.stringify(updatedRequestItemsList);
      $('#save_request_btn').show();
      $("#add_product-modal").modal("hide");
      showRequestData(globalRequestIndex);
    }

    function getTotalAmount(productsList) {
      let total_amount = 0;

      JSON.parse(productsList).forEach((product) => {
        if (!product.count) return;
        total_amount += Number(product.price) * product.count
      });
      return total_amount;
    }

    function extractPDF() {
      var requestData = JSON.parse(localStorage.getItem('request_data'));
      var requestItemsList = requestData.products_list;
      var count = getTotalAmount(requestItemsList);
      if (!count) {
        return $.ambiance({
          message: 'Нет товаров', type: "error", fade: true, width: 400,
        });
      }

      window.location.href = '/api/catalog/product/buy?request_id=' + globalRequestId;

    }

    function logout() {
      $.ajax({
        url: '/api/auth/logout',
        method: 'POST',
        success: function (r) {
          window.location.replace("/login");
        }
      });
    }
  </script>
</body>

</html>