<head>
    <title><%= L('serv1', language, 'Услуги') %> - Universal Electro</title>
    <link rel="stylesheet" href="/public/css/service.css">
</head>
<body>
    <main>
    <div id="service" class="service">
        <div class="container text-center">
            <div class="service__mainTitle fw-bold fs-2">«Universal&nbsp;Electro» <%- L('serv2', language,'в&nbsp;г.&nbsp;Астана') %>:</div>
        </div>

        <section class="service__section">
            <div class="container">
                <div class="service__inner">
                    <div class="service__body d-flex justify-content-between align-items-center flex-wrap">
                        <div class="service__content">
                            <h2 class="service__title fs-3 text-orange mb-5"><%= L('serv42', language, 'Щитовое электрооборудование') %></h2>
                            <div class="service__text fs-5">
                                <p><%- L('serv3', language, 'В компании <b>«Универсал Электро»</b> в г. Астане вы можете заказать и купить щиты электрические, боксы, распределительные щитки') %>.</p>
                                <p><%= L('serv4', language, 'Наши специалисты спроектируют щиты по вашим требованиям, рассчитают стоимость и произведут высококачественную сборку щитового электрооборудования') %>.</p>
                                <p><%= L('serv5', language, 'Наша компания производит щитовое электрооборудование низковольтных комплектных устройств (НКУ)') %>.</p>
                            </div>
                        </div>
                        <img data-aos="fade-down" data-aos-once="true" class="service__img h-auto rounded-3" src="/public/images/service/universalelectro-1.jpg" alt="Service Image">
                    </div>
                </div>
            </div>
        </section>

        <section class="service__section">
            <div class="container">
                <div class="service__inner">
                    <div class="service__body d-flex justify-content-between align-items-center flex-wrap">
                        <img data-aos="fade-down" data-aos-once="true" class="service__img h-auto rounded-3" src="/public/images/service/electro-work.jpg" alt="Section Image">

                        <div class="service__content">
                            <h2 class="service__title fs-3 text-orange mb-5"><%= L('serv6', language, 'Электромонтажные работы') %></h2>
                            <p class="service__text fs-5"><%= L('serv7', language, 'Монтажные работы по прокладке кабеля также проводятся по проектным данным. Наша компания осуществляет следующие виды электромонтажных работ') %>:</p>
                            <ul>
                                <li><%= L('serv8', language, 'Монтаж электрических щитков и боксов, распределительных щитков и прочих видов щитового электрооборудования низковольтных комплектных устройств (НКУ)') %></li>
                                <li><%= L('serv9', language, 'Монтаж кабельных лотков') %></li>
                                <li><%= L('serv10', language, 'Прокладка кабеля') %></li>
                            </ul>
                            <i class="text-1-25-rem"><%= L('serv11', language, 'Стоимость элекромонтажных работ расчитывается по конкретному проекту объекта') %>.</i>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="service__section">
            <div class="container">
                <div class="service__inner">
                    <div class="service__body d-flex justify-content-between align-items-center flex-wrap">

                        <div class="service__content">
                            <h2 class="service__title fs-3 text-orange mb-5"><%= L('serv12', language, 'Лазерная резка металла') %></h2>
                            <div class="service__text fs-5">
                                <p><%= L('serv13', language, 'Предлагаем Вам тонкую лазерную резку листового металла, в том числе нержавеющей стали. Это многофункциональный метод обработки металла. Используя его, получают номерки, шильды, бейджи, таблички, сувениры, панели из нержавеющей стали и алюминия, промышленные детали и многое другое') %>.</p>
                                <p><%= L('serv14', language, 'Станок при обработке материалов дает тонкий и точный разрез, не требующий дополнительной обработки. Лазерный станок снабжен зубчатыми рельсами, что заметно повышает скорость резки') %>.</p>
                                <i><%= L('serv15', language, 'Есть возможность обработки неровных металлов') %>.</i>
                            </div>
                        </div>
                        <img data-aos="fade-down" data-aos-once="true" class="service__img h-auto rounded-3" src="/public/images/service/laser-machine.jpg" alt="Service Image">
                    </div>

                    <div class="service__footer">
                        <div class="row">
                            <div class="col">
                                <h4><%= L('serv16', language, 'Рабочая поверхность станка') %>:</h4>
                                <p>2500 х 1300 мм</p>
                                <ul>
                                    <li>Ось Х: 2500 мм</li>
                                    <li>Ось Y: 1300 мм</li>
                                    <li>Ось Z: 100 мм</li>
                                </ul>
                            </div>
                            <div class="col">
                                <h4><%= L('serv17', language, 'Допустимая толщина металла') %>:</h4>
                                <ul>
                                    <li>6 мм (<%= L('serv18', language, 'для черных металлов') %>)</li>
                                    <li>2-3 мм (<%= L('serv19', language, 'для нержавеющей стали') %>)</li>
                                </ul>
                            </div>
                            <div class="col">
                                <h4><%= L('serv20', language, 'Точность позиционирования') %>:</h4>
                                <p>0,05 мм</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="service__section">
            <div class="container">
                <div class="service__inner">
                    <div class="service__body d-flex justify-content-between align-items-center flex-wrap">
                        <img data-aos="fade-down" data-aos-once="true" class="service__img h-auto rounded-3 section__img" src="/public/images/service/ral-650.png" alt="Service Image">

                        <div class="service__content">
                            <h2 class="service__title fs-3 text-orange mb-5"><%= L('serv21', language, 'Покраска металлических изделий') %></h2>
                            <div class="service__text fs-5">
                                <p><%- L('serv22', language, 'Покраска производится на оборудовании <i>Wagner Sprint X 60L.</i>') %></p>
                                <p><%- L('serv23', language, '<i>Sprint X 60L</i> — универсальная установка для электростатического и трибостатического способа окрашивания с доставкой порошковой краски из стационарного контейнера') %>.</p>
                                <p><%- L('serv24', language, 'Электронный блок управления <i>EPG-Sprint X</i>, позволяет произвести точную настройку всех необходимых параметров нанесения порошка и добиться идеальных результатов окрашивания') %>.</p>
                            </div>
                        </div>
                    </div>

                    <div class="service__footer">
                        <p><%- L('serv25', language, 'Точная настройка всех электростатических характеристик нанесения порошка при совместимости с окраской трибо позволяет <b>максимально эффективно использовать любой порошок.</b>') %></p>
                        <i><%= L('serv26', language, 'Мы отдаем предпочтение проверенным краскам RAL CLASSIC (Германия) и PULVER (Турция)') %></i>
                    </div>
                </div>
            </div>
        </section>

        
        <section class="service__section">
            <div class="container">
                <div class="service__inner">
                    <div class="service__body d-flex justify-content-between align-items-center flex-wrap">
                        <div class="service__content">
                            <h2 class="service__title fs-3 text-orange"><%= L('serv27', language, 'Перфорированные и неперфорированные лотки. Лестничные лотки') %></h2>
                            <p class="service__text fs-5"><%= L('serv28', language, 'ТОО «Universal Electro» занимается производство металлических лотков следующих видов: неперфорированный (сплошной), перфорированный, лестничный') %>.</p>
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <b><%= L('serv29', language, 'Перфорированные и неперфорированные лотки') %></b>
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <%= L('serv30', language, 'Перфорированный и неперфорированный лоток используется для удержания и защиты кабелей на протяжении всего срока эксплуатации сети. При этом главной конструктивной особенностью, которой обладает перфорированный лоток металлический электрический, является наличие перфорации (отверстий), которая значительно упрощает прокладку кабелей. Перфорация делает удобной установку разрезанного на нестандартные элементы лотка. Также через отверстия расположенные в днище конструкции может производиться прикрепление жестких и гофрированных кабелей. Перфорация обеспечивает хорошую вентиляцию, тем самым предупреждая риск перегрева проводки') %>.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <b><%= L('serv31', language, 'Лестничные лотки') %></b>
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <%= L('serv32', language, 'Лотки лестничного типа состоят из боковых профилей и перемычек и выделяются высокой несущей способностью. Объясняется данный факт возможностью ее равномерного распределения. Боковые профили лестничного лотка могут быть профилированными и неперфорированные используются во всех типах зданий, не исключается возможность их установки и на улице') %>.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img data-aos="fade-down" data-aos-once="true" class="service__img h-auto rounded-3" src="/public/images/service/tray.jpg" alt="Service Image">
                    </div>
                </div>
            </div>
        </section>

        <section class="service__section">
            <div class="container">
                <div class="service__inner">
                    <div class="service__body d-flex justify-content-between align-items-center flex-wrap">
                        <img data-aos="fade-down" data-aos-once="true" class="service__img h-auto rounded-3 section__img" src="/public/images/service/busket.jpg" alt="Service Image">

                        <div class="service__content">
                            <h2 class="service__title fs-3 text-orange mb-5"><%= L('serv33', language, 'Фасадные элементы') %></h2>
                            <div class="service__text fs-5">
                                <p><%= L('serv34', language, 'Вы можете заказать декоративные фасадные элементы для жилых и общественных зданий столицы') %>.</p>
                                <p><%= L('serv35', language, 'Наша продукция отличается качеством изготовления, будет соответсвовать техническим и эстетическим тербованиям проекта и украсит любой фасад нашего города') %>.</p>
                                <p><%= L('serv36', language, 'К фасадным элементам, которые мы изготавливаем, относится') %>:</p>
                            </div>
                            <ul>
                                <li><%= L('serv37', language, 'Корзины для кондиционеров') %></li>
                                <li><%= L('serv38', language, 'Декоративные жалюзи') %></li>
                                <li><%= L('serv39', language, 'Французские балконы и ограждающие конструкции') %></li>
                                <li><%= L('serv40', language, 'Шкафы пожарные ПГ') %></li>
                                <li><%= L('serv41', language, 'Люки металлические и многое другое') %></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>  

        <div class=" mt-5 text-center">
            <button type="button" class="service__btn btn text-dark text-125 background-orange" data-bs-toggle="modal" data-bs-target="#submit-request-modal"><%= L('serv43', language, 'Оставить заявку') %></button>
        </div>
    </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>

    <script>
        // AOS
        AOS.init();
    </script>
</body>
</html>