<head>
    <title>Услуги - Universal Electro</title>
    <link rel="stylesheet" href="/public/css/service.css">
</head>
<body>
    <main>
    <div class="intro w-100 py-5">
        <div class="container text-center">
            <div class="intro__inner d-flex justify-content-between align-items-center">
                <div class="intro__content mx-auto">
                    <h1 class="intro__title text-uppercase">Universal Electro</h1>
                    <h2 class="intro__subtitle text-light fw-bold">Качественно. Надежно. Выгодно.</h2>
                    <p class="intro__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae atque provident cumque commodi, minima temporibus veniam id eos sit minus nisi nemo beatae sapiente nam eum saepe aliquid voluptatem quisquam velit totam ullam. Quaerat, dolorem!</p>
                </div>

                <div class="intro__img-container mx-auto position-relative">
                    <img class="intro__img-hero" id="intro-img" src="/public/images/intro__hero-img.png" alt="">
                    <div class="intro__img-overlay intro__img-overlay-out"></div>
                    <div class="intro__img-overlay intro__img-overlay-in"></div>
                </div>
            </div>
            <a href="/catalog" class="intro__btn text-125 btn btn-light mt-5">Перейти в каталог</a>
        </div>
    </div>

    <div id="service" class="service">
        <div class="container text-center">
            <div class="service__mainTitle fw-bold fs-2">«Универсал Электро» в г. Астана производит:</div>
        </div>

        <section class="service__section">
            <div class="container">
                <div class="service__inner">
                    <div class="service__body d-flex justify-content-between align-items-center flex-wrap">
                        <div class="service__content">
                            <h2 class="service__title mb-5">Щитовое электрооборудование</h2>
                            <div class="service__text">
                                <p>В компании <b>«Универсал Электро»</b> в г. Астане вы можете заказать и купить щиты электрические, боксы, распределительные щитки. 
                                <p>Наши специалисты спроектируют щиты по вашим требованиям, рассчитают стоимость и произведут высококачественную сборку щитового электрооборудования.</p>
                                <p>Наша компания производит щитовое электрооборудование низковольтных комплектных устройств (НКУ)...</p>
                            </div>
                        </div>
                        <img data-aos="fade-down" data-aos-once="true" class="service__img h-auto rounded-3" src="/public/images/service/universalelectro-1.jpg" alt="Service Image">
                    </div>
                </div>
            </div>
        </section>

        <section class="service__section">
            <div class="container">
                <div class="service__inner">
                    <div class="service__body d-flex justify-content-between align-items-center flex-wrap">
                        <img data-aos="fade-down" data-aos-once="true" class="service__img h-auto rounded-3" src="/public/images/service/electro-work.jpg" alt="Section Image">

                        <div class="service__content">
                            <h2 class="service__title mb-5">Электромонтажные работы</h2>
                            <p class="service__text">Монтажные работы по прокладке кабеля также проводятся по проектным данным. Наша компания осуществляет следующие виды электромонтажных работ:</p>
                            <ul>
                                <li>Монтаж электрических щитков и боксов, распределительных щитков и прочих видов щитового электрооборудования низковольтных комплектных устройств (НКУ)</li>
                                <li>Монтаж кабельных лотков</li>
                                <li>Прокладка кабеля</li>
                            </ul>
                            <i class="text-1-25-rem">Стоимость элекромонтажных работ расчитывается по конкретному проекту объекта.</i>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="service__section">
            <div class="container">
                <div class="service__inner">
                    <div class="service__body d-flex justify-content-between align-items-center flex-wrap">

                        <div class="service__content">
                            <h2 class="service__title mb-5">Лазерная резка металла</h2>
                            <div class="service__text">
                                <p>Предлагаем Вам тонкую лазерную резку листового металла, в том числе нержавеющей стали. Это многофункциональный метод обработки металла. Используя его, получают номерки, шильды, бейджи, таблички, сувениры, панели из нержавеющей стали и алюминия, промышленные детали и многое другое.</p>
                                <p>Станок при обработке материалов дает тонкий и точный разрез, не требующий дополнительной обработки. Лазерный станок снабжен зубчатыми рельсами, что заметно повышает скорость резки.</p>
                                <i>Есть возможность обработки неровных металлов.</i>
                            </div>
                        </div>
                        <img data-aos="fade-down" data-aos-once="true" class="service__img h-auto rounded-3" src="/public/images/service/laser-machine.jpg" alt="Service Image">
                    </div>

                    <div class="service__footer">
                        <div class="row">
                            <div class="col">
                                <h4>Рабочая поверхность станка:</h4>
                                <p>2500 х 1300 мм</p>
                                <ul>
                                    <li>Ось Х: 2500 мм</li>
                                    <li>Ось Y: 1300 мм</li>
                                    <li>Ось Z: 100 мм</li>
                                </ul>
                            </div>
                            <div class="col">
                                <h4>Допустимая толщина металла:</h4>
                                <ul>
                                    <li>6 мм (для черных металлов)</li>
                                    <li>2-3 мм (для нержавеющей стали)</li>
                                </ul>
                            </div>
                            <div class="col">
                                <h4>Точность позиционирования:</h4>
                                <p>0,05 мм</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="service__section">
            <div class="container">
                <div class="service__inner">
                    <div class="service__body d-flex justify-content-between align-items-center flex-wrap">
                        <img data-aos="fade-down" data-aos-once="true" class="service__img h-auto rounded-3 section__img" src="/public/images/service/ral-650.png" alt="Service Image">

                        <div class="service__content">
                            <h2 class="service__title mb-5">Покраска металлических изделий</h2>
                            <div class="service__text">
                                <p>Покраска производится на оборудовании <i>Wagner Sprint X 60L.</i></p>
                                <p><i>Sprint X 60L</i> — универсальная установка для электростатического и трибостатического способа окрашивания с доставкой порошковой краски из стационарного контейнера.</p>
                                <p>Электронный блок управления <i>EPG-Sprint X</i>, позволяет произвести точную настройку всех необходимых параметров нанесения порошка и добиться идеальных результатов окрашивания.</p>
                            </div>
                        </div>
                    </div>

                    <div class="service__footer">
                        <p>Точная настройка всех электростатических характеристик нанесения порошка при совместимости с окраской трибо позволяет <b>максимально эффективно использовать любой порошок.</b></p>
                        <i>Мы отдаем предпочтение проверенным краскам RAL CLASSIC (Германия) и PULVER (Турция)</i>
                    </div>
                </div>
            </div>
        </section>

        
        <section class="service__section">
            <div class="container">
                <div class="service__inner">
                    <div class="service__body d-flex justify-content-between align-items-center flex-wrap">
                        <div class="service__content">
                            <h2 class="service__title">Перфорированные и неперфорированные лотки. Лестничные лотки</h2>
                            <p class="service__text">ТОО «Universal Electro» занимается производство металлических лотков следующих видов: неперфорированный (сплошной), перфорированный, лестничный.</p>
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <b>Перфорированные и неперфорированные лотки</b>
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Перфорированный и неперфорированный лоток используется для удержания и защиты кабелей на протяжении всего срока эксплуатации сети. При этом главной конструктивной особенностью, которой обладает перфорированный лоток металлический электрический, является наличие перфорации (отверстий), которая значительно упрощает прокладку кабелей. Перфорация делает удобной установку разрезанного на нестандартные элементы лотка. Также через отверстия расположенные в днище конструкции может производиться прикрепление жестких и гофрированных кабелей. Перфорация обеспечивает хорошую вентиляцию, тем самым предупреждая риск перегрева проводки.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <b>Лестничные лотки</b>
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Лотки лестничного типа состоят из боковых профилей и перемычек и выделяются высокой несущей способностью. Объясняется данный факт возможностью ее равномерного распределения. Боковые профили лестничного лотка могут быть профилированными и неперфорированные используются во всех типах зданий, не исключается возможность их установки и на улице.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img data-aos="fade-down" data-aos-once="true" class="service__img h-auto rounded-3" src="/public/images/service/tray.jpg" alt="Service Image">
                    </div>
                </div>
            </div>
        </section>

        <div class=" mt-5 text-center">
            <button type="button" class="service__btn btn text-dark text-125 background-orange" data-bs-toggle="modal" data-bs-target="#submit-request-modal">Оставьте заявку</button>
        </div>
    </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>

    <script>
        // AOS
        AOS.init();
    </script>
</body>
</html>