/* Splide */
.splide__slide img {
    cursor: pointer;
    max-width: 350px;
    object-fit: cover;
    transform: .2s linear;
}



/* Upload */
.upload {
    margin-top: 50px;
}

.upload__element a {
    color: #E87900;
}

.upload__block a {
    color: #E87900;
}

.upload__block {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.upload__block--visible {
    max-height: 500px;
}

@media (max-width: 1300px) {
    .splide__list {
        margin: 0 20px;
    }
}

@media (max-width: 1199.98px) {
    .upload__title {
        text-align: center;
    }
}

@media (max-width: 900px) {

}

@media (max-width: 767.98px) {
    .upload__body {
        list-style: none;
    }

    .popup-image img {
        max-width: 400px;
    }

    .upload__block ul {
        list-style: none;
    }

    .upload__block ul div {
        display: block !important;
    }
}

@media (max-width: 575.98px) { 
    .popup-image img {
        max-width: 300px;
    }
}

@media (max-width: 440px) {
    .splide__list img{
        max-width: 250px;
    }
}

@media (max-width: 340px) {
    .splide__list img{
        max-width: 190px;
    }
}





