.header__btn {
    background-color:#E87900 !important; 
    font-weight: 500;
    transition: .2s ease color;
}

.header__btn:hover {
    color: #fff !important;
}

.text-orange {
    color: #E87900;
}



/* Splide */
.splide__slide img {
    cursor: pointer;
    max-width: 350px;
    object-fit: cover;
    transform: .2s linear;
}



/* Upload */
.upload {
    margin-top: 50px;
}

.upload__element a {
    color: #E87900;
}

.upload__block a {
    color: #E87900;
}

.upload__block {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.upload__block--visible {
    max-height: 500px;
}

@media (max-width: 1199.98px) {
    .upload__title {
        text-align: center;
    }
}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {
    .upload__body {
        list-style: none;
    }

    .popup-image img {
        max-width: 400px;
    }

    .upload__block ul {
        list-style: none;
    }

    .upload__block ul div {
        display: block !important;
    }
}

@media (max-width: 575.98px) { 
    .popup-image img {
        max-width: 300px;
    }
}





