body {
    background-image: url(/public/images/main-bg.png);
    background-size: cover;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: 0 0 3rem;
}



/* Submit Modal */
#submit-request-modal .form__textarea {
    height: 75%;
}

#submit-request-modal .request-modal__btn:hover {
    background-color: #ff8400 !important;
}

#submit-request-modal .order_form {
    width: 50%;
}




/* Bootstrap */
.text-110{
    font-size: 1.1rem !important;
}

.text-115 {
    font-size: 1.15rem !important;
}

.text-120 {
    font-size: 1.2rem !important;
}

.text-125 {
    font-size: 1.25rem !important;
}

.text-orange {
    color: #E87900 !important;
}

.background-orange {
    background-color: #E87900 !important;
}

.background-orange:hover {
    background-color: #ff8400 !important;;
}

.border-orange {
    border-color: #E87900 !important;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-header {
    margin-top: 0;
    background-color: #E87900;
}

.accordion-body {
    overflow: hidden;
}

.accordion-button {
    color: black;
}

.accordion-button:focus {
    background-color: #E87900;
    box-shadow: 0 0 0 .1rem #f09431;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #f09431;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#ambiance {
    color: #fff;
    text-align: center;
    border-radius: 10px;
    font-family: InterReg;
    transition: background-color 0.5s, transform 0.5s;
    cursor: default;
    margin: 3% 0 1% 0;

    width: 80%;
}

#ambiance:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

#ambiance.success {
    background-color: #04DEAA;

}

#ambiance.error {
    background-color: #e74c3c;

}

#ambiance.info {
    background-color: #2C9AFF;

}

#ambiance.warning {
    background-color: #f39c12;

}

#ambiance.invalid-email {
    background-color: #c0392b;

}

#ambiance.too-many-requests {
    background-color: #e67e22;

}

.ambiance {
    font-family: InterReg;
}

#ambiance-notification {
    top: 0 !important
}

.loader_overlay {
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin: auto;
}

.divider {
    height: 1px;
    margin-top: 5px;
    background-color: #2079FF;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
    border: .20px solid currentColor;
    border-right-color: currentcolor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

@media (max-width: 991.98px) {
    #submit-request-modal .modal-body {
        flex-direction: column;
    }

    #submit-request-modal .modal-message {
        padding: 0 3rem;
    }
    #submit-request-modal .order_form {
        width: 100%;
    }
    
    #submit-request-modal .form__textarea {
        height: 150px;
    }
}

@media (max-width: 767.98px) {  
    .uniq-chat-button {
        width: 50px !important;
        height: 50px !important;
    }

    .uniq-chat-button .ailabs_open svg {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 575.98px) {  
    .text-125, .text-120 {
        font-size: 1.1rem !important;
    }

    .ambiance {
        width: 100% !important;
    }
}

@media (max-width: 420px) {
    #show-contact-modal .modal-body .row {
        flex-direction: column;
    }
}

@media (max-width: 380px) {
    #show-contact-modal .modal-body .btn__group {
        flex-direction: column-reverse;
        justify-content: center;
    }
}

@media (max-width: 360px) {
    .uniq-chat-button {
        right: 10px !important;
    }
}