body {
    background-color: rgb(211, 209, 209) !important;
    background-image: none !important;
}

/* Custom for Bootstrap */

.btn-orange {
    background-color: #E87900 !important;
}

.text-1-25-rem {
    font-size: 1.25rem !important;
}

.header__btn {
    background-color:#E87900 !important; 
    font-weight: 500;
    transition: .2s ease color;
}

.header__btn:hover {
    color: #fff !important;
}

/* Slide */

.splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.splide__slide img {
    position: relative;
    max-width: 150px;
}

@media (max-width: 575.98px) { 

}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}