.hr-temp {
    height: 3px;
    border: 0;
    opacity: 1 !important;
}

.hr-header {
    background-color: #f95005;
}

.hr-service {
    background-color: #000;
}

.intro-hero {
    background: url("/public/images/main__hero-img.png");
    min-height: 90vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.intro__content {
    max-width: 720px;
    margin: 0 auto;
    font-size: 1.5rem;
}

.intro__title {
    font-size: 3rem;
    line-height: 1.4;

    margin-bottom: 16px;
}

.intro__text {
    font-size: 1.5rem;
}

.intro__text p {
    font-size: 1.5rem;
}

.intro__img-container {
    position: relative;
    margin: 0 auto;
}

.intro__img-hero {
    width: 400px;
    transition: .5s ease-in filter;
}

.intro__img-hero:hover {
    filter: blur(1px);
}

.intro__img-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ef7d00;
    border: 2px solid #ffffff;
    box-shadow: 5px 10px 10px #ef7d00;
}

.intro__img-overlay-out {
    animation: circle-out 10s infinite linear;
}

@keyframes circle-out {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(200px) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(200px) rotate(-360deg);
  }
}

.intro__img-overlay-in {
    animation: circle-in 6s infinite linear;
}


@keyframes circle-in {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(155px) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(155px) rotate(-360deg);
  }
}


@media (max-width: 992px) {
    .intro__inner {
        flex-wrap: wrap;
        text-align: center;
    }
    
    .intro__btn {
        margin-top: 60px;
    }
}

@media (max-width: 1200px) {
    .service__inner {
        justify-content: center;
        gap: 30px;
    }
    
    .service__content{
        text-align: center;
    }

    .service .service-section:nth-child(2) .service__inner .service__content {
        order: 1;
    }
}

@media (max-width: 768px) {
    .intro__title {
        font-size: 2rem;
    }

    .intro__text p{
        font-size: 1rem;
    }

    .intro__img-hero {
        width: 300px;
    }
}