@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Jost", sans-serif;
}

body{
    background-image: url(/public/images/main-bg.png);
    background-size: cover;
}

.login {
    background-color: white;
    margin: 20vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    width: 50%;    
}

@media (max-width:768px) {
    .login{
        width: 90%;
    }
    .login div{
        width: 100% !important;
    }
}