@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}




/* Login page */

.login {
  background-color: white;
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 10px;
  width: 50%;
}

/* End of Login page */


/* Admin products page */

.search-input {
  outline: none !important;
}

.table-icon {
  border: 0;
}

.table-icon span {
  font-size: 34px;
}

#products td img {
  width: 100px;
  transition: transform ease 0.3s;
}

#products td img:hover {
  transform: scale(1.5);
}

@media (max-width: 768px) {
  .login {
    width: 90%;
  }

  .login div {
    width: 100% !important;
  }
}

/* End of Admin products page */


/* Catalog page */
#bucket_content .temp{
  opacity: 0.5;
}

#catalog{
  width: 78%;
  margin: 20px auto;
}

.product {
  width: 270px;
  min-height: 600px;
  padding: 20px;
  background-color: white;
  transition: 0.3s;
}

.product:hover {
  transform: scale(1.02);
}

.product img{
  width: 100%;
}


.product h3{
  height: 50px;
}

.product button:hover{
  background-color: orange;
  border: 1px solid orange;
}

/* End of Catalog page */